Repository openhwgroup/core-v-verif, pull requests merged in 2022-08, with the labels that each got.

#1360 cva6.yaml: add timeout to benchmarks + fix in wb_dcache job
  .gitlab-ci/cva6.yml
Labels: cva6

#1359 Use vcs-uvm Makefile target in vcs-gate iss
  cva6/sim/Makefile
  cva6/sim/cva6.yaml
Labels: cva6

#1350 Added several new privilege tests
  cv32e40s/tests/cfg/pmp.yaml
  cv32e40s/tests/programs/custom/csr_priv_gen_test/README.md
  cv32e40s/tests/programs/custom/csr_priv_gen_test/csr_priv_gen.py
  cv32e40s/tests/programs/custom/csr_priv_gen_test/csr_priv_gen_test.c
  cv32e40s/tests/programs/custom/csr_priv_gen_test/csr_priv_gen_test.h
  cv32e40s/tests/programs/custom/csr_priv_gen_test/csr_priv_loop.S
  cv32e40s/tests/programs/custom/csr_priv_gen_test/helpers.S
  cv32e40s/tests/programs/custom/csr_priv_gen_test/test.yaml
  cv32e40s/tests/programs/custom/custom_priv_gen_test/README.md
  cv32e40s/tests/programs/custom/custom_priv_gen_test/custom_priv_gen.py
  cv32e40s/tests/programs/custom/custom_priv_gen_test/custom_priv_gen_test.S
  cv32e40s/tests/programs/custom/custom_priv_gen_test/custom_priv_gen_test.c
  cv32e40s/tests/programs/custom/custom_priv_gen_test/custom_priv_gen_test.h
  cv32e40s/tests/programs/custom/custom_priv_gen_test/helpers.S
  cv32e40s/tests/programs/custom/custom_priv_gen_test/test.yaml
  cv32e40s/tests/programs/custom/mcounteren_priv_gen_test/README.md
  cv32e40s/tests/programs/custom/mcounteren_priv_gen_test/helpers.S
  cv32e40s/tests/programs/custom/mcounteren_priv_gen_test/mcounteren_priv_gen.py
  cv32e40s/tests/programs/custom/mcounteren_priv_gen_test/mcounteren_priv_gen_test.S
  cv32e40s/tests/programs/custom/mcounteren_priv_gen_test/mcounteren_priv_gen_test.c
  cv32e40s/tests/programs/custom/mcounteren_priv_gen_test/mcounteren_priv_gen_test.h
  cv32e40s/tests/programs/custom/mcounteren_priv_gen_test/test.yaml
  cv32e40s/tests/programs/custom/privilege_test/privilege_test.S
  cv32e40s/tests/programs/custom/privilege_test/privilege_test.c
  cv32e40s/tests/programs/custom/privilege_test/test.yaml
Labels: DO NOT MERGE

#1379 "Fixed support logic reset and zc assert logic"
  cv32e40s/tb/uvmt/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
Labels: cv32e40s

#1387 Fix incorrect ABI settings in FP-capable simulation configurations.
  cva6/sim/cva6.py
Labels: cva6
