Repository openhwgroup/core-v-verif, pull requests merged in 2022-11, with the labels that each got.

#1440 User mode coverage
  cv32e40s/tb/uvmt/uvmt_cv32e40s.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_umode_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_umode_cov.sv
Labels: cv32e40s

#1457 Initial port of ImperasDV to 40S
  cv32e40s/env/uvme/uvme_cv32e40s_core_sb.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_fencei_tamper_seq.sv
  cv32e40s/sim/ExternalRepos.mk
  cv32e40s/tb/uvmt/imperas_dv.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_constants.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_iss_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
  cv32e40s/tests/cfg/clic_default.yaml
  cv32e40s/tests/cfg/default.yaml
  cv32e40s/tests/programs/custom/riscv_arithmetic_basic_test_0/riscv_arithmetic_basic_test_0.S
  cv32e40s/tests/programs/custom/riscv_arithmetic_basic_test_1/riscv_arithmetic_basic_test_1.S
  lib/corev-dv/corev_instr_base_test.sv
  lib/corev-dv/instr_lib/corev_interrupt_csr_instr_stream.sv
  lib/uvm_agents/uvma_clic/uvma_clic_if.sv
  lib/uvm_agents/uvma_core_cntrl/uvma_core_cntrl_cfg.sv
  lib/uvm_agents/uvma_rvvi/uvma_rvvi_agent.sv
  lib/uvm_agents/uvma_rvvi/uvma_rvvi_cfg.sv
  lib/uvm_agents/uvma_rvvi/uvma_rvvi_cntxt.sv
  lib/uvm_agents/uvma_rvvi/uvma_rvvi_tdefs.sv
  lib/uvm_agents/uvma_rvvi_ovpsim/uvma_rvvi_ovpsim_agent.sv
  mk/Common.mk
  mk/uvmt/dsim.mk
  mk/uvmt/uvmt.mk
  mk/uvmt/xrun.mk
  vendor_lib/imperas/design/monitor.sv
  vendor_lib/imperas/design/ram.sv
  vendor_lib/imperas/imperas_DV_COREV/sv/imperas_CV32.sv
Labels: cv32e40s

#1462 Updated rv32 bitmanip vplan to v1.0.0
  docs/VerifPlans/ISA/RV32/Simulation/RV32B_Extension_Instructions.xlsx
Labels: cv32e40s

#1466 RVFI Assert
  cv32e40s/tb/uvmt/uvmt_cv32e40s.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
Labels: cv32e40s

#1474 Workaround for the iss's pmp fault
  cv32e40s/tests/cfg/b_ext_abs.yaml
  cv32e40s/tests/cfg/b_ext_all.yaml
  cv32e40s/tests/cfg/clic_default.yaml
  cv32e40s/tests/cfg/default.yaml
  cv32e40s/tests/cfg/no_bitmanip.yaml
  cv32e40s/tests/cfg/num_mhpmcounter_29.yaml
  cv32e40s/tests/cfg/pma.yaml
  cv32e40s/tests/cfg/pma_debug.yaml
  cv32e40s/tests/cfg/pma_test_cfg_1.yaml
  cv32e40s/tests/cfg/pma_test_cfg_2.yaml
  cv32e40s/tests/cfg/pma_test_cfg_3.yaml
  cv32e40s/tests/cfg/pma_test_cfg_4.yaml
  cv32e40s/tests/cfg/pma_test_cfg_5.yaml
  cv32e40s/tests/cfg/pmp.yaml
  cv32e40s/tests/cfg/pmp_g3r3.yaml
Labels: cv32e40s

#1478 Fix for #1472
  cv32e40s/env/uvme/uvma_cv32e40s_core_cntrl_agent.sv
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/env/uvme/uvme_cv32e40s_cntxt.sv
  cv32e40s/env/uvme/uvme_cv32e40s_env.sv
  cv32e40s/env/uvme/uvme_cv32e40s_pkg.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_fencei_tamper_seq.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pkg.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  mk/uvmt/uvmt.mk
  mk/uvmt/xrun.mk
Labels: cv32e40s

#1479 [skip ci] Clarified and improved (?) some content
  docs/VerifStrat/source/quick_start.rst
Labels: Component:Doc

#1473 Xsecure direct tests and PC hardening assertion
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert.sv
  cv32e40s/tests/programs/custom/xsecure_csrs/xsecure_csrs.c
  cv32e40s/tests/programs/custom/xsecure_test/test.yaml
  cv32e40s/tests/programs/custom/xsecure_test/xsecure_test.S
  cv32e40s/tests/programs/custom/xsecure_test/xsecure_test.c
Labels: cv32e40s

#1486 Updates to obi memory agent for obi 1.5
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/env/uvme/uvme_cv32e40s_cntxt.sv
  cv32e40s/env/uvme/uvme_cv32e40s_constants.sv
  cv32e40s/env/uvme/uvme_cv32e40s_env.sv
  cv32e40s/env/uvme/uvme_cv32e40s_vsqr.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_debug_control_seq.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_fencei_tamper_seq.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_interrupt_timer_seq.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_sig_writer_seq.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_status_flags_seq.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_agent.sv
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_cov_model.sv
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_drv.sv
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_mon.sv
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_mon_trn_logger.sv
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_seq_item_logger.sv
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_sqr.sv
  lib/uvm_agents/uvma_obi_memory/src/obj/uvma_obi_memory_cfg.sv
  lib/uvm_agents/uvma_obi_memory/src/obj/uvma_obi_memory_cntxt.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_base_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_fw_preload_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_slv_base_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_slv_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_slv_seq_item.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_vp_base_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_vp_cycle_counter_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_vp_debug_control_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_vp_directed_slv_resp_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_vp_interrupt_timer_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_vp_rand_num_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_vp_sig_writer_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_vp_virtual_printer_seq.sv
  lib/uvm_agents/uvma_obi_memory/src/uvma_obi_memory_if.sv
  lib/uvm_agents/uvma_obi_memory/src/uvma_obi_memory_macros.sv
  lib/uvm_agents/uvma_obi_memory/src/uvma_obi_memory_tdefs.sv
Labels: cv32e40s

#1489 Umode Vplan - Link to Coverage
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.xlsx
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_umode_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_umode_cov.sv
  cv32e40s/tests/programs/custom/privilege_test/privilege_test.c
Labels: cv32e40s

#1505 Fix requirements
  bin/README.md
  bin/requirements.txt
  docs/VerifPlans/ISA/RV32/Simulation/RV32Zifencei_Extension_Instruction copy.xlsx
  docs/VerifStrat/source/quick_start.rst
Labels: bug, tool
