Repository openhwgroup/core-v-verif, pull requests merged in 2023-02, with the labels that each got.

#1618 Adding riscv-arch-test suite to CVA6 core
  .gitlab-ci/cva6.yml
  cva6/regress/install-riscv-isa-sim.sh
  cva6/regress/riscv-isa-sim.patch
  cva6/regress/smoke-tests.sh
  cva6/tests/testlist_riscv-arch-test-cv32a60x.yaml
  cva6/tests/testlist_riscv-arch-test-cv64a6_imafdc_sv39.yaml
Labels: cva6

#1609 Update spike log parsing
  cva6/sim/cva6_spike_log_to_trace_csv.py
Labels: cva6

#1601 setup-ci-example: Fix typo
  .gitlab-ci/setup-ci-example/core-v-verif-cv32.yml
  .gitlab-ci/setup-ci-example/core-v-verif-cva6.yml
Labels: cva6

#1614 PMP Assert - Add Missing Check
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pmp_assert.sv
Labels: cv32e40s

#1646 VPTOOL: Switch to Yaml storage infrastructure. Improve consistency of ISA_RV32 database.
  cva6/docs/VerifPlans/FRONTEND/VP_IP003.pck
  cva6/docs/VerifPlans/FRONTEND/VP_IP003.yml
  cva6/docs/VerifPlans/FRONTEND/VP_IP004.pck
  cva6/docs/VerifPlans/FRONTEND/VP_IP004.yml
  cva6/docs/VerifPlans/FRONTEND/VP_IP005.pck
  cva6/docs/VerifPlans/FRONTEND/VP_IP005.yml
  cva6/docs/VerifPlans/FRONTEND/VP_IP006.pck
  cva6/docs/VerifPlans/FRONTEND/VP_IP006.yml
  cva6/docs/VerifPlans/FRONTEND/VP_IP007.pck
  cva6/docs/VerifPlans/FRONTEND/VP_IP007.yml
  cva6/docs/VerifPlans/FRONTEND/VP_IP008.pck
  cva6/docs/VerifPlans/FRONTEND/VP_IP008.yml
  cva6/docs/VerifPlans/FRONTEND/VP_IP009.pck
  cva6/docs/VerifPlans/FRONTEND/VP_IP009.yml
  cva6/docs/VerifPlans/FRONTEND/VP_IP010.pck
  cva6/docs/VerifPlans/FRONTEND/VP_IP010.yml
  cva6/docs/VerifPlans/FRONTEND/runme.sh
  cva6/docs/VerifPlans/ISA_RV32/VP_IP000.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP000.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP001.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP001.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP002.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP002.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP003.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP003.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP004.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP004.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP005.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP005.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP006.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP006.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP007.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP007.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP008.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP008.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP009.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP009.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP010.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP010.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP011.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP011.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP012.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP012.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP013.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP013.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP014.pck
  cva6/docs/VerifPlans/ISA_RV32/VP_IP014.yml
  cva6/docs/VerifPlans/ISA_RV32/runme.sh
  tools/vptool/vptool/vp.py
  tools/vptool/vptool/vp_pack.py
Labels: cva6

#1586 Added Zc directed test to regressions and added zcb, zcmp to enabled …
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/cfg/b_ext_abs.yaml
  cv32e40s/tests/cfg/b_ext_all.yaml
  cv32e40s/tests/cfg/clic_default.yaml
  cv32e40s/tests/cfg/default.yaml
  cv32e40s/tests/cfg/no_bitmanip.yaml
  cv32e40s/tests/cfg/pma.yaml
  cv32e40s/tests/cfg/pma_debug.yaml
  cv32e40s/tests/cfg/pma_test_cfg_1.yaml
  cv32e40s/tests/cfg/pma_test_cfg_2.yaml
  cv32e40s/tests/cfg/pma_test_cfg_3.yaml
  cv32e40s/tests/cfg/pma_test_cfg_4.yaml
  cv32e40s/tests/cfg/pma_test_cfg_5.yaml
  cv32e40s/tests/cfg/pmp.yaml
  cv32e40s/tests/cfg/pmp_g3r3.yaml
Labels: cv32e40s

#1619 Questa Formal - "Design Checks" Fix
  cv32e40s/fv/qverify.tcl
Labels: cv32e40s, formal

#1630 OBI Asserts - Make Formal-Friendly
  lib/uvm_agents/uvma_obi_memory/src/uvma_obi_memory_assert.sv
Labels: cv32e40s, formal

#1631 RVFI Assert - Fix CEXes
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  mk/uvmt/xrun.mk
Labels: cv32e40s

#1636 PMP Assert - Fix CEXes
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pmp_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pmp_model.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pmprvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tdefs.sv
Labels: cv32e40s

#1642 PMP Directeds - Add To "full" Regression
  cv32e40s/regress/cv32e40s_compliance.yaml
  cv32e40s/regress/cv32e40s_counters_test.yaml
  cv32e40s/regress/cv32e40s_debug.yaml
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/regress/cv32e40s_hello_world.yaml
  cv32e40s/regress/cv32e40s_interrupt.yaml
  cv32e40s/regress/cv32e40s_rel_check.yaml
  cv32e40s/tests/cfg/pmp.yaml
  cv32e40s/tests/programs/custom/pmp/DefaultFull.c
  cv32e40s/tests/programs/custom/pmp/DefaultNone.c
  cv32e40s/tests/programs/custom/pmp/MmodeOnly.c
  cv32e40s/tests/programs/custom/pmp/README.md
  cv32e40s/tests/programs/custom/pmp/ResetRegisters.c
  cv32e40s/tests/programs/custom/pmp/TorNomatch.c
  cv32e40s/tests/programs/custom/pmp/TorZero.c
  cv32e40s/tests/programs/custom/pmp/helper.S
  cv32e40s/tests/programs/custom/pmp/intr.c
Labels: cv32e40s

#1651 AXI: Add verification plan and files to run it with vptool
  cva6/docs/VerifPlans/AXI/VP_IP005.yml
  cva6/docs/VerifPlans/AXI/VP_IP006.yml
  cva6/docs/VerifPlans/AXI/VP_IP007.yml
  cva6/docs/VerifPlans/AXI/VP_IP008.yml
  cva6/docs/VerifPlans/AXI/runme.sh
  cva6/docs/VerifPlans/source/dvplan_AXI.md
  cva6/docs/VerifPlans/source/index.rst
Labels: cva6

#1662 Fix questa/idv simulations with latest hash
  cv32e40x/env/uvme/uvme_cv32e40x_cntxt.sv
  cv32e40x/env/uvme/uvme_cv32e40x_env.sv
  cv32e40x/env/uvme/uvme_cv32e40x_vsqr.sv
  cv32e40x/env/uvme/vseq/uvme_cv32e40x_vp_debug_control_seq.sv
  cv32e40x/env/uvme/vseq/uvme_cv32e40x_vp_fencei_tamper_seq.sv
  cv32e40x/env/uvme/vseq/uvme_cv32e40x_vp_interrupt_timer_seq.sv
  cv32e40x/env/uvme/vseq/uvme_cv32e40x_vp_sig_writer_seq.sv
  cv32e40x/env/uvme/vseq/uvme_cv32e40x_vp_status_flags_seq.sv
  cv32e40x/sim/ExternalRepos.mk
  cv32e40x/tb/uvmt/uvmt_cv32e40x.flist
  cv32e40x/tb/uvmt/uvmt_cv32e40x_tb.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_slv_seq.sv
  lib/uvm_agents/uvma_rvfi/seq/uvma_rvfi_instr_seq_item.sv
  mk/uvmt/vsim.mk
Labels: improvement, cv32e40x, tool

#1655 Merge cv32a6_v0.1.0/dev into cva6/dev
  .gitlab-ci/cva6.yml
  cva6/docs/VerifPlans/CVXIF/VP_IP000.pck
  cva6/docs/VerifPlans/CVXIF/VP_IP001.pck
  cva6/docs/VerifPlans/CVXIF/VP_IP002.pck
  cva6/docs/VerifPlans/CVXIF/runme.sh
  cva6/docs/VerifPlans/source/dvplan_CVXIF.md
  cva6/docs/VerifPlans/source/index.rst
  cva6/regress/install-riscv-isa-sim.sh
  cva6/regress/riscv-isa-sim.patch
  cva6/regress/smoke-tests.sh
  cva6/sim/Makefile
  cva6/tests/testlist_riscv-arch-test-cv32a60x.yaml
  cva6/tests/testlist_riscv-arch-test-cv64a6_imafdc_sv39.yaml
Labels: cva6

#1669 PMA Directeds – Comment In & Add to Regress
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/cfg/pma.yaml
  cv32e40s/tests/cfg/pma_debug.yaml
  cv32e40s/tests/programs/custom/pma/README.md
  cv32e40s/tests/programs/custom/pma/pma.c
  cv32e40s/tests/programs/custom/pma_0reg/README.md
  cv32e40s/tests/programs/custom/pma_debug/README.md
Labels: cv32e40s

#1671 2 PULP tests corrections
  cv32e40p/tests/programs/custom/pulp_bit_manipulation/pulp_bit_manipulation.S
  cv32e40p/tests/programs/custom/pulp_vectorial_shuffle_pack/pulp_vectorial_shuffle_pack.S
  mk/Common.mk
Labels: cv32e40p

#1675 Changed SMCLIC to CLIC
  cv32e40s/sim/ExternalRepos.mk
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_constants.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert.sv
  cv32e40s/tests/cfg/clic_default.yaml
  cv32e40s/tests/programs/custom/clic/clic.c
Labels: cv32e40s

#1684 Debug asserts
  cv32e40s/docs/VerifPlans/Simulation/debug-trace/CV32E40XS_debug.xlsx
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1687 Updates to debug_asserts
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
Labels: cv32e40s
