Repository openhwgroup/core-v-verif, pull requests merged in 2023-06, with the labels that each got.

#1954 Remove jobs which are already executed by GitHub Actions
  .gitlab-ci/cva6.yml
Labels: cva6

#1943 Add two arguments in cva6.py to controlle systemverilog seed
  cva6/sim/Makefile
  cva6/sim/cva6.py
Labels: cva6

#1950 CVXIF : Add spec for custom instruction related to the cvxif agent
  cva6/env/uvme/cvxif_vseq/custom_instruction.rst
Labels: cva6, cv-x-if

#1929 0.9.0 additions
  cv32e40s/tb/uvmt/imperas_dv.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
  mk/uvmt/xrun.mk
Labels: cv32e40s

#1951 PMA Coverage - Fix Missing Declaration
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
Labels: cv32e40s

#1955 40s fixes for 0.9.0
  cv32e40s/sim/ExternalRepos.mk
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_interface_integrity_assert.sv
  cv32e40s/tests/programs/custom/debug_test2/debug_test2.c
Labels: cv32e40s

#1947 Formal - Sporadic Maintenance
  cv32e40s/fv/Makefile
  cv32e40s/fv/README.md
  cv32e40s/fv/fv.flist
  cv32e40s/fv/jaspergold.tcl
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_pkg.sv
  mk/fv/fv.mk
Labels: cv32e40s, formal

#1944 CVA6: Questasim support
  cva6/sim/Makefile
  cva6/sim/cva6.py
  cva6/sim/cva6.yaml
Labels: cva6

#1893 CVA6: Infrastructure improvements
  cva6/regress/benchmark.sh
  cva6/regress/install-cva6.sh
  cva6/regress/install-riscv-compliance.sh
  cva6/regress/install-riscv-dv.sh
  cva6/regress/install-verilator.sh
  cva6/sim/Makefile
Labels: cva6

#1956 Formal warning fixes/directed test fixes
  cv32e40s/env/uvme/cov/uvme_debug_covg.sv
  cv32e40s/env/uvme/uvma_cv32e40s_core_cntrl_agent.sv
  cv32e40s/env/uvme/uvme_cv32e40s_core_cntrl_if.sv
  cv32e40s/fv/dummy_pkg.sv
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_sl_req_attribute_fifo.sv
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pmprvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_umode_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_hardened_csrs_pmp_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_register_file_ecc_assert.sv
  cv32e40s/tests/programs/custom/debug_test_reset/debugger.S
  cv32e40s/tests/programs/custom/debug_test_trigger/debug_test_trigger.c
  cv32e40s/tests/programs/custom/misalign/misalign.c
  cv32e40s/tests/programs/custom/requested_csr_por/requested_csr_por.c
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_pkg.sv
  lib/uvm_agents/uvma_clic/uvma_clic_if.sv
  lib/uvm_agents/uvma_debug/uvma_debug_if.sv
  lib/uvm_agents/uvma_interrupt/uvma_interrupt_if.sv
  lib/uvm_agents/uvma_obi_memory/src/uvma_obi_memory_assert.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1964 Disabled and added todo for 3 coverage crosses that needs rework
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_cov.sv
Labels: cv32e40s

#1965 Updated 40S core hash
  cv32e40s/sim/ExternalRepos.mk
Labels: cv32e40s

#1966 Removed iss workaround
  cv32e40s/env/uvme/uvma_cv32e40s_core_cntrl_agent.sv
Labels: cv32e40s

#1968 Updated default u_sw_irq_handler to support clic
  cv32e40s/bsp/handlers.S
Labels: cv32e40s

#1970 Fixed marchid in cv32e40s_readonly_csr_access_test
  cv32e40s/tests/programs/custom/cv32e40s_readonly_csr_access_test/cv32e40s_readonly_csr_access_test.S
Labels: cv32e40s

#1960 RVFI Agent : Fix assigning a null pointer #1948
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_mon.sv
Labels: cva6

#1971 Fix #1969 - use suggested module shutil instead of deprecated distutils
  bin/ci_check
Labels: Common Infrastructure

#1953 ISACOV : Add ISACOV jobs for CI & test description & script
  .gitlab-ci/cva6.yml
  cva6/env/uvme/uvme_cva6_cfg.sv
  cva6/regress/dv-generated-tests.sh
  cva6/sim/Makefile
  cva6/sim/cva6_base_testlist.yaml
  cva6/tests/custom/isacov/branch_to_zero.S
  cva6/tests/custom/isacov/load_reg_hazard.S
  cva6/tests/custom/isacov/load_store_test.S
  cva6/tests/testlist_isacov.yaml
Labels: cva6

#1952 Set Spike execution limit to 2M steps across all verification runs.
  cva6/sim/Makefile
  cva6/sim/cva6.yaml
Labels: cva6

#1977 Clic assertion updates
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
Labels: cv32e40s

#1957 CVXIF : Update the cvxif agent & the core-dv based on new spec #1950
  cva6/env/corev-dv/custom/cvxif_custom_instr.sv
  cva6/env/corev-dv/user_extension/x_extn_user_define.h
  cva6/env/uvme/cov/uvme_cva6_cov_model.sv
  cva6/env/uvme/cov/uvme_cvxif_covg.sv
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_base_vseq.sv
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_vseq.sv
  cva6/env/uvme/uvme_cva6_cfg.sv
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_agent.sv
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_cov_model.sv
  lib/uvm_agents/uvma_cvxif/src/obj/uvma_cvxif_cfg.sv
  lib/uvm_agents/uvma_cvxif/src/uvma_cvxif_macros.sv
Labels: cva6, cv-x-if

#1975 ci: add synthesis checks
  .gitlab-ci/scripts/report_synth.py
Labels: cva6

#1988 ci: update expected synthesis results
  .gitlab-ci/scripts/report_synth.py
Labels: cva6

#1989 cv32e40s: Testbench updates
  cv32e40s/sim/ExternalRepos.mk
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  mk/uvmt/xrun.mk
Labels: cv32e40s

#1985 change where integrity signal is fetched from
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_hardened_csrs_interrupt_assert.sv
Labels: cv32e40s

#1979 AXI/assertion modification
  cva6/tb/uvmt/uvmt_cva6_axi_assert.sv
Labels: cva6

#1974 [cv32e40p] adding new v2 debug tests with xpulp and random xpulp stream
  cv32e40p/env/corev-dv/custom/isa/custom/riscv_custom_instr.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_sequence.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_test_pkg.sv
  cv32e40p/env/corev-dv/cv32e40p_rand_instr_stream.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_base_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_instr_lib.sv
  cv32e40p/env/uvme/vseq/uvme_cv32e40p_random_debug_vseq.sv
  cv32e40p/tests/programs/corev-dv/corev_rand_debug_ebreak_xpulp/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_debug_ebreak_xpulp/test.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_debug_single_step_xpulp/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_debug_single_step_xpulp/test.yaml
  cv32e40p/tests/uvmt/compliance-tests/uvmt_cv32e40p_firmware_test.sv
Labels: cv32e40p

#1994 update ecc assertion names, correct the vplan
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.csv
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.xlsx
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_register_file_ecc_assert.sv
Labels: cv32e40s

#1978 PMP Assert - Updates
  cv32e40s/fv/fv.flist
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pmprvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  lib/support/isa_support.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_constants.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1982 Cv32e40p/dev baoshan refine fp stream lib 0613
  cv32e40p/env/corev-dv/cv32e40p_instr_base_test.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib_defines.sv
  cv32e40p/tests/programs/corev-dv/corev_fp_instr_test_for_regr/regr.sh
  cv32e40p/tests/programs/corev-dv/corev_fp_zfinx_instr_test_for_regr/regr.sh
  cv32e40p/tests/programs/corev-dv/corev_sanity_fp_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_sanity_fp_zfinx_instr_test/corev-dv.yaml
Labels: cv32e40p

#1995 Updated README file for CV32E40P vplans and first vplans update
  cv32e40p/docs/VerifPlans/README.md
  cv32e40p/docs/VerifPlans/Simulation/micro_architecture/CV32E40P_FPU_register_file.xlsx
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40P_xpulp-bitmanipulations.xlsx
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40P_xpulp-general-alu.xlsx
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40P_xpulp-immediate-branching.xlsx
Labels: cv32e40p

#1976 ISACOV : Filter hazard cross
  lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv
Labels: cva6

#2010 remove CLIC_INTTHRESHBITS
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_constants.sv
Labels: cv32e40s

#2014 Reinstate VCS support for CV32E40Pv2 on cv32e40p/dev branch
  bin/ci_check
  cv32e40p/tests/programs/custom/debug_test/debug_test.c
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_cov_model.sv
  mk/uvmt/vcs.mk
  mk/uvmt/vsim.mk
Labels: enhancement, cv32e40p

#2016 first proposal of CV32E40Pv2 ci_check script
  cv32e40p/regress/cv32e40pv2_ci_check.yaml
Labels: cv32e40p
