Repository openhwgroup/core-v-verif, pull requests merged in 2023-09, with the labels that each got.

#2169 fix for propagating reset signal
  cv32e40s/env/uvme/uvma_cv32e40s_core_cntrl_agent.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
Labels: cv32e40s

#2160 fix random spike crash in CI
  cva6/sim/Makefile
Labels: cva6

#2175 Update cva6/dev from master
  .gitignore
  .readthedocs.yaml
  bin/ci_check
  cv32e40p/bsp/Makefile
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/sim/core/Makefile
  cv32e40p/tb/uvmt/uvmt_cv32e40p.flist
  cv32e40p/tests/programs/custom/debug_test/debug_test.c
  lib/dpi_dasm/lib/Linux64/libdpi_dasm.so
  lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_cov_model.sv
  mk/Common.mk
  mk/uvmt/vcs.mk
Labels: cva6

#2180 Asserts - OBI Max Outstanding
  cv32e40s/tb/uvmt/uvmt_cv32e40s_integration_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
Labels: cv32e40s

#2181 Updated cv32e40x-dv hash to latest
  bin/clonetb
Labels: cv32e40x

#2163 script to run a single test multiple times
  bin/run_many
Labels: cv32e40p

#2106 ISACOV : Add csr directed tests
  cva6/tests/custom/isacov/csr_test.S
  cva6/tests/custom/isacov/csrcs_test.S
  cva6/tests/custom/isacov/csrcsi_test.S
  cva6/tests/custom/isacov/csrrw_test.S
  cva6/tests/custom/isacov/csrrwi_test.S
  cva6/tests/testlist_isacov.yaml
Labels: cva6

#2184 Updated cv32e40x-dv hash
  bin/clonetb
Labels: cv32e40x

#2164 New Script - (Auxiliary) Vplans in JSON
  bin/csv2json
  bin/xlsx2csv
Labels: cv32e40s

#2159 New directed test for debug single-step on different HW loops scenarii.
  cv32e40p/tests/programs/custom/coremark/core_portme.c
  cv32e40p/tests/programs/custom/coremark/test.yaml
  cv32e40p/tests/programs/custom/pulp_hardware_loop/pulp_hardware_loop.S
  cv32e40p/tests/programs/custom/pulp_hardware_loop_debug_test/debugger.S
  cv32e40p/tests/programs/custom/pulp_hardware_loop_debug_test/debugger_exception.S
  cv32e40p/tests/programs/custom/pulp_hardware_loop_debug_test/handlers.S
  cv32e40p/tests/programs/custom/pulp_hardware_loop_debug_test/pulp_hardware_loop_debug_test.c
  cv32e40p/tests/programs/custom/pulp_hardware_loop_debug_test/single_step.S
  cv32e40p/tests/programs/custom/pulp_hardware_loop_debug_test/test.yaml
  cv32e40p/tests/programs/custom/pulp_hardware_loop_debug_test/trigger_code.S
  mk/uvmt/vcs.mk
Labels: cv32e40p

#2150 Coverage Analysis - 40s Non-DUT Refines
  cv32e40s/sim/tools/xrun/README.md
  cv32e40s/sim/tools/xrun/cv32e40s.auto.vRefine
  cv32e40s/sim/tools/xrun/cv32e40s.hierarchy.vRefine
  cv32e40s/sim/tools/xrun/cv32e40s.non_dut_code_cov_assertions.vRefine
  cv32e40s/sim/tools/xrun/cv32e40s.non_dut_code_cov_interfaces.vRefine
  cv32e40s/sim/tools/xrun/cv32e40s.non_dut_code_cov_other_modules.vRefine
Labels: cv32e40s

#2174 Depreciate Metrics CI workflows
  .github/workflows/README.md
  .github/workflows/cv32e40p-scheduled-metrics-regress.yml
  .github/workflows/dashboard-done.yml
  .github/workflows/triggered-metrics-regress.yml
Labels: DO NOT MERGE, Common Infrastructure

#2192 CV32E40P regress, corev-dv & TB improvments
  bin/cv_regress
  bin/lib/cv_regression.py
  bin/templates/regress_rmdb.j2
  cv32e40p/env/corev-dv/custom/isa/cv32e40p_riscv_compressed_instr.sv
  cv32e40p/env/corev-dv/custom/isa/riscv_floating_point_instr.sv
  cv32e40p/env/corev-dv/custom/isa/riscv_fp_in_x_regs_instr.sv
  cv32e40p/env/corev-dv/custom/isa/riscv_instr.sv
  cv32e40p/env/corev-dv/custom/riscv_defines.svh
  cv32e40p/env/corev-dv/custom/riscv_instr_gen_config.sv
  cv32e40p/env/corev-dv/custom/riscv_instr_pkg.sv
  cv32e40p/env/corev-dv/cv32e40p_asm_program_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_debug_rom_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_base_test.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_gen_config.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_sequence.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_test_pkg.sv
  cv32e40p/env/corev-dv/cv32e40p_rand_instr_stream.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_base_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib_defines.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_hwloop_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_instr_lib.sv
  cv32e40p/env/corev-dv/target/cv32e40p/cv32e40p_supported_isa.svh
  cv32e40p/regress/cv32e40p_xpulp_rand_tests.yaml
  cv32e40p/regress/cv32e40pv2_benchmarks.yaml
  cv32e40p/regress/cv32e40pv2_ci_check.yaml
  cv32e40p/regress/cv32e40pv2_fpu.yaml
  cv32e40p/regress/cv32e40pv2_fpu_instr.yaml
  cv32e40p/regress/cv32e40pv2_full_unique_bld1.yaml
  cv32e40p/regress/cv32e40pv2_full_unique_bld2.yaml
  cv32e40p/regress/cv32e40pv2_full_unique_bld3.yaml
  cv32e40p/regress/cv32e40pv2_interrupt_debug.yaml
  cv32e40p/regress/cv32e40pv2_xpulp_instr.yaml
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/sim/tools/vsim/cov.tcl
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_riscv_coverage_config.svh
  cv32e40p/tests/programs/corev-dv/corev_rand_fp_instr_data_fwd_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_fp_instr_sanity_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_hwloop_debug/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_hwloop_exception/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_hwloop_exception/test.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_hwloop_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_mac_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_simd_instr_test/corev-dv.yaml
  cv32e40p/tests/test_cfg/debug_ebreak.yaml
  cv32e40p/tests/test_cfg/gen_rand_int.yaml
  cv32e40p/tests/test_cfg/insert_illegal_instr.yaml
  mk/Common.mk
  mk/README.md
  mk/uvmt/uvmt.mk
  mk/uvmt/vsim.mk
Labels: cv32e40p

#2197 Code coverage
  cv32e40s/sim/tools/xrun/cv32e40s.manual_expression_cov_todo.vRefine
Labels: cv32e40s

#2190 Update assertions for clic spec changes, add dpc assertions
  cv32e40s/sim/ExternalRepos.mk
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
Labels: cv32e40s

#2201 Fixed missing granularity in pmp cov, disabled wrong pma-cover
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pmp_assert.sv
Labels: cv32e40s

#2203 Updated default LFSR-coeffs/seed
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_constants.sv
Labels: cv32e40s

#2177 Obi req fifo
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_sl_fifo.sv
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_sl_req_attribute_fifo.sv
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_interface_integrity_assert.sv
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_tdefs.sv
Labels: cv32e40x, cv32e40s

#2204 Updated hpmcounter tests to account for csr stall optimizations
  cv32e40s/tests/programs/custom/hpmcounter_basic_nostall_test/hpmcounter_basic_nostall_test.c
  cv32e40s/tests/programs/custom/hpmcounter_basic_test/hpmcounter_basic_test.c
Labels: cv32e40s

#2202 Updated cv32e40x-dv hash to 4ba93acf850
  bin/clonetb
Labels: cv32e40x

#2205 Fixed unreachable cover
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
Labels: cv32e40s

#2207 Disabled buserr ifault assertion
  cv32e40s/env/uvme/uvme_cv32e40s_buserr_sb.sv
Labels: cv32e40s

#2158 Debug Vplan - Updates & Link-to-cov
  cv32e40s/docs/VerifPlans/Simulation/debug-trace/CV32E40XS_debug.csv
  cv32e40s/docs/VerifPlans/Simulation/debug-trace/CV32E40XS_debug.xlsx
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
Labels: cv32e40s

#2208 Updated cv32e40x-dv hash to latest to fix sim breakage
  bin/clonetb
Labels: cv32e40x

#2209 Disabled buserr sb assertion due to false positives
  cv32e40s/env/uvme/uvme_cv32e40s_buserr_sb.sv
Labels: cv32e40s

#2211 Updated cv32e40x-dv hash to latest
  bin/clonetb
Labels: cv32e40x

#2212 Explicitly clear minhv at the end of mret_after_minhv test
  cv32e40s/tests/programs/custom/clic/clic.c
Labels: cv32e40s

#2213 CFG - External Parameter Sets
  cv32e40s/tests/cfg/param_set_0.yaml
Labels: cv32e40s

#2186 'gen_csr_access_test' - Make Executable
  bin/gen_csr_access_test.py
Labels: cv32e40x

#2215 Added minhv clear to reset_interrupt_level function for robustness
  cv32e40s/tests/programs/custom/clic/clic.c
Labels: cv32e40s

#2219 Added cfg to disable data independent timing and pc hardening
  cv32e40s/env/corev-dv/cv32e40s_asm_program_gen.sv
  cv32e40s/env/corev-dv/cv32e40s_instr_gen_config.sv
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/cfg/xsecure_disable_std.yaml
Labels: cv32e40s

#2119 modifications for inclusion of ImperasDV
  cv32e20/tb/uvmt/csr_macros.svh
  cv32e20/tests/cfg/default.yaml
Labels: cv32e20

#2128 Cv32e20/dev debug test integration step2
  cv32e20/bsp/crt0.S
  cv32e20/bsp/link.ld
  cv32e20/sim/ExternalRepos.mk
  cv32e20/tb/uvmt/uvmt_cv32e20_dut_wrap.sv
  cv32e20/tests/programs/custom/debug_test/debug_test.c
  cv32e20/tests/programs/custom/debug_test/debugger.S
  cv32e20/tests/programs/custom/debug_test/handlers.S
Labels: cv32e20

#2195 Update CVE2 Makefiles, etc. to support VCS
  bin/ci_check
  cv32e20/regress/cv32e20_ci_check.yaml
  cv32e20/sim/uvmt/.gitignore
  cv32e20/tb/uvmt/uvmt_cv32e20.flist
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_cov_model.sv
  mk/Common.mk
  mk/uvmt/vcs.mk
Labels: cv32e20
