Repository openhwgroup/core-v-verif, pull requests merged in 2023-10, with the labels that each got.

#2218 Update Script - `gen_csr_access_test`
  bin/gen_csr_access_test.py
Labels: cv32e40x

#2198 rename to follow name convention
  bin/clonetb
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40x

#2223 Enabled wfe_test and xsecure_* tests in full regression
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/cfg/clic_default.yaml
Labels: cv32e40s

#2226 coverage fixes
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_mon.sv
Labels: cv32e40s

#2220 Added CSR Access Test
  cv32e20/env/corev-dv/cv32e20_csr_template.yaml
  cv32e20/tests/programs/custom/riscv_csr/gen_csr_test.py
  cv32e20/tests/programs/custom/riscv_csr/lib.py
  cv32e20/tests/programs/custom/riscv_csr/riscv_csr_test_0.S
  cv32e20/tests/programs/custom/riscv_csr/test.yaml
Labels: cv32e20

#2217 Toggle Coverage
  mk/uvmt/xrun.mk
Labels: cv32e40s

#2233 ASSERT_OFF
  cv32e40s/fv/README.md
  cv32e40s/fv/defines.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
Labels: cv32e40s

#2234 Fix comment, and xsecure prefix.
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_interface_integrity_assert.sv
Labels: cv32e40s

#2193 JSON Vplans - Generate From CSV
  bin/csv2json
  cv32e40s/docs/VerifPlans/Simulation/Zc/RV32Zc_Extension_Instructions.json
  cv32e40s/docs/VerifPlans/Simulation/debug-trace/CV32E40XS_debug.json
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.json
  cv32e40s/docs/VerifPlans/Simulation/micro_architecture/CV32E40SX_fencei.json
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40SX_PMA_VerifPlan.json
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_PMP.json
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.json
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.json
Labels: cv32e40s

#2237 Added u-mode and mstatus.tw to wfe test, cleanup
  cv32e40s/bsp/handlers.S
  cv32e40s/tests/programs/custom/clic/clic.c
  cv32e40s/tests/programs/custom/debug_test2/debug_test2.c
  cv32e40s/tests/programs/custom/wfe_test/wfe_test.c
Labels: cv32e40s

#2243 New test to highlight power consumption issues
  cv32e40p/tests/programs/custom/power_issues_test/test.c
  cv32e40p/tests/programs/custom/power_issues_test/test.yaml
Labels: cv32e40p

#2240 fixing Interrupt wiring, imperas wiring, and updating to hash 9e0615b
  cv32e20/bsp/handlers.S
  cv32e20/bsp/vectors.S
  cv32e20/sim/ExternalRepos.mk
  cv32e20/sim/tools/xrun/probe.tcl
  cv32e20/tb/uvmt/uvmt_cv32e20_dut_wrap.sv
  cv32e20/tb/uvmt/uvmt_cv32e20_imperas_dv_wrap.sv
  cv32e20/tests/cfg/default.yaml
  cv32e20/tests/programs/custom/hello-world/hello-world.c
  cv32e20/tests/programs/custom/interrupt_test/interrupt_test.c
  cv32e20/tests/programs/custom/interrupt_test/interrupt_test.h
Labels: cv32e20

#2246 Update clic test to cover verification holes wrt. illegal mnxti accesses
  cv32e40s/tests/programs/custom/clic/clic.c
Labels: cv32e40s

#2247 Clic test hotfix - wrong expect-illegal handling in ex.handler
  cv32e40s/tests/programs/custom/clic/clic.c
Labels: cv32e40s

#2248 Updated link to coverage
  cv32e40s/docs/VerifPlans/Simulation/Zc/RV32Zc_Extension_Instructions.csv
  cv32e40s/docs/VerifPlans/Simulation/Zc/RV32Zc_Extension_Instructions.json
  cv32e40s/docs/VerifPlans/Simulation/Zc/RV32Zc_Extension_Instructions.xlsx
Labels: cv32e40s

#2253 Directed Test - Pushpop Debug Triggers
  cv32e40s/bsp/bsp.h
  cv32e40s/bsp/corev_uvmt.h
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/programs/custom/debug_test_trigger/test.yaml
  cv32e40s/tests/programs/custom/pushpop_debug_triggers/pushpop_debug_triggers.c
  cv32e40s/tests/programs/custom/pushpop_debug_triggers/test.yaml
Labels: cv32e40s

#2228 TB & corev-dv stream generations fixes
  bin/cv_regress
  bin/templates/regress_rmdb.j2
  cv32e40p/env/corev-dv/custom/isa/custom/riscv_custom_instr.sv
  cv32e40p/env/corev-dv/custom/isa/custom/riscv_custom_instr_enum.sv
  cv32e40p/env/corev-dv/custom/isa/custom/rv32x_instr.sv
  cv32e40p/env/corev-dv/custom/isa/cv32e40p_riscv_compressed_instr.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_gen_config.sv
  cv32e40p/env/corev-dv/cv32e40p_rand_instr_stream.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib_defines.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_hwloop_instr_lib.sv
  cv32e40p/regress/cv32e40pv2_benchmarks.yaml
  cv32e40p/regress/cv32e40pv2_ci_check.yaml
  cv32e40p/regress/cv32e40pv2_fpu_instr.yaml
  cv32e40p/regress/cv32e40pv2_interrupt_debug.yaml
  cv32e40p/regress/cv32e40pv2_xpulp_instr.yaml
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tests/programs/corev-dv/corev_rand_debug_ebreak_xpulp/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_debug_single_step_xpulp/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_fp_instr_data_fwd_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_fp_instr_sanity_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_mac_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_simd_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/custom/pulp_post_increment_load_store/pulp_post_increment_load_store.S
  cv32e40p/tests/test_cfg/obi_zero_latency.yaml
Labels: cv32e40p

#2252 Atomic sanity test
  lib/uvm_agents/uvma_obi_memory/src/obj/uvma_obi_memory_cfg.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_slv_base_seq.sv
  lib/uvm_agents/uvma_pma/src/comps/uvma_pma_sb.sv
Labels: cv32e40x

#2239 Directed Tests - `secureseed`
  cv32e40s/bsp/bsp.h
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.csv
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.json
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.xlsx
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/programs/custom/xsecure_csrs/xsecure_csrs.c
Labels: cv32e40s

#2251 Added compressed csr-representation to isa decoder
  lib/isa_decoder/isa_decoder.sv
  lib/isa_decoder/isa_typedefs.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_mon.sv
Labels: cv32e40s

#2254 Added flag to prevent xcelium from searching for cds.lib/hdl.var
  mk/uvmt/xrun.mk
Labels: cv32e40s

#2255 Updated wfe test to work correctly without user-mode/PMP, added flags…
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/programs/custom/wfe_test/wfe_test.c
Labels: cv32e40s

#2256 Correct xsecure coverage property items
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.csv
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.json
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.xlsx
Labels: cv32e40s

#2245 Debug Vplan - Refresh JSON
  cv32e40s/docs/VerifPlans/Simulation/debug-trace/CV32E40XS_debug.json
Labels: cv32e40s

#2259 CV32E40Pv2 W43 updates
  bin/cv_regress
  bin/templates/regress_rmdb.j2
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib.sv
  cv32e40p/regress/cv32e40pv2_fpu.yaml
  cv32e40p/regress/cv32e40pv2_fpu_instr.yaml
  cv32e40p/regress/cv32e40pv2_full_covg.yaml
  cv32e40p/regress/cv32e40pv2_full_unique_bld1.yaml
  cv32e40p/regress/cv32e40pv2_full_unique_bld2.yaml
  cv32e40p/regress/cv32e40pv2_full_unique_bld3.yaml
  cv32e40p/regress/cv32e40pv2_interrupt_debug_long.yaml
  cv32e40p/regress/cv32e40pv2_interrupt_debug_short.yaml
  cv32e40p/regress/cv32e40pv2_pulp_covg.yaml
  cv32e40p/regress/cv32e40pv2_pulp_fpu_all_lat_covg.yaml
  cv32e40p/regress/cv32e40pv2_pulp_fpu_no_lat_covg.yaml
  cv32e40p/regress/cv32e40pv2_pulp_fpu_zfinx_all_lat_covg.yaml
  cv32e40p/regress/cv32e40pv2_pulp_fpu_zfinx_no_lat_covg.yaml
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/sim/riscof/README.md
  cv32e40p/tests/programs/corev-dv/corev_rand_fp_instr_sanity_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_hwloop_exception/corev-dv.yaml
  mk/Common.mk
  mk/riscof.mk
  mk/uvmt/uvmt.mk
  mk/uvmt/vcs.mk
  mk/uvmt/vsim.mk
  mk/uvmt/xrun.mk
Labels: cv32e40p

#2258 Updated user mode vplan with link2cov
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.csv
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.json
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.xlsx
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.csv
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.json
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.xlsx
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
Labels: cv32e40s

#2261 Enable toggle coverage only for ports
  cv32e40s/sim/tools/xrun/covfile.tcl
Labels: cv32e40s

#2263 Fixed irq->rvfi-connections, added clic model, naming cleanup
  cv32e40s/env/uvme/cov/uvme_clic_covg.sv
  cv32e40s/env/uvme/cov/uvme_cv32e40s_cov_model.sv
  cv32e40s/env/uvme/cov/uvme_interrupt_covg.sv
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/env/uvme/uvme_cv32e40s_env.sv
  cv32e40s/env/uvme/uvme_cv32e40s_pkg.sv
Labels: cv32e40s

#2264 Fixed umode covers/asserts
  cv32e40s/tb/uvmt/uvmt_cv32e40s_umode_assert.sv
Labels: cv32e40s

#2260 Added zcmt directed test (40S only), moved structs to bsp
  cv32e40s/bsp/bsp.h
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/programs/custom/pmp_csr_access_test/pmp_csr_access_test.c
  cv32e40s/tests/programs/custom/wfe_test/wfe_test.c
  cv32e40s/tests/programs/custom/zcmt_test/test.yaml
  cv32e40s/tests/programs/custom/zcmt_test/zcmt_test.c
Labels: cv32e40s

#2265 Fixed pmp-assertion
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pmp_assert.sv
Labels: cv32e40s

#2266 Updated pushpop_debug_triggers with sticky debug request
  cv32e40s/tests/programs/custom/pushpop_debug_triggers/pushpop_debug_triggers.c
Labels: cv32e40s

#2268 Updated 40s core hash
  cv32e40s/sim/ExternalRepos.mk
Labels: cv32e40s

#2221 Add debug_test to CI regression
  cv32e20/regress/cv32e20_ci_check.yaml
Labels: cv32e20
