Repository openhwgroup/core-v-verif, pull requests merged in 2023-08, with the labels that each got.

#2095 Add (too many) warning suppressions for VSIM
  cv32e20/sim/ExternalRepos.mk
  mk/uvmt/vsim.mk
Labels: cv32e20

#2097 Added wfe wakeup uvm agent
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/env/uvme/uvme_cv32e40s_cntxt.sv
  cv32e40s/env/uvme/uvme_cv32e40s_core_cntrl_if.sv
  cv32e40s/env/uvme/uvme_cv32e40s_env.sv
  cv32e40s/env/uvme/uvme_cv32e40s_pkg.sv
  cv32e40s/env/uvme/uvme_cv32e40s_vsqr.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_clic_noise_vseq.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_wu_wfe_noise_vseq.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tests/cfg/default.yaml
  cv32e40s/tests/programs/custom/wfe_test/test.yaml
  cv32e40s/tests/programs/custom/wfe_test/wfe_test.c
  cv32e40s/tests/uvmt/compliance-tests/uvmt_cv32e40s_firmware_test.sv
  lib/uvm_agents/uvma_debug/seq/uvma_debug_seq_item.sv
  lib/uvm_agents/uvma_debug/uvma_debug_mon_trn_logger.sv
  lib/uvm_agents/uvma_wfe_wu/cov/uvma_wfe_wu_cov_model.sv
  lib/uvm_agents/uvma_wfe_wu/seq/uvma_wfe_wu_base_seq.sv
  lib/uvm_agents/uvma_wfe_wu/seq/uvma_wfe_wu_seq_item.sv
  lib/uvm_agents/uvma_wfe_wu/seq/uvma_wfe_wu_seq_item_logger.sv
  lib/uvm_agents/uvma_wfe_wu/seq/uvma_wfe_wu_seq_lib.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_agent.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_cfg.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_cntxt.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_constants.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_drv.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_if.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_if_chk.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_macros.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_mon.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_mon_trn.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_mon_trn_logger.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_pkg.flist
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_pkg.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_sqr.sv
  lib/uvm_agents/uvma_wfe_wu/uvma_wfe_wu_tdefs.sv
  mk/uvmt/uvmt.mk
Labels: cv32e40s, Common Infrastructure: UVM Agent

#2104 Config files and hello-world test
  cv32e40p/tests/cfg/default.yaml
  cv32e40p/tests/cfg/no_pulp.yaml
  cv32e40p/tests/cfg/num_mhpmcounter_29.yaml
  cv32e40p/tests/cfg/pulp.yaml
  cv32e40p/tests/cfg/pulp_cluster.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu.yaml
  cv32e40p/tests/cfg/pulp_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/programs/custom/hello-world/hello-world.c
Labels: cv32e40p

#2111 CVXIF : Filter cross coverage for commit interface
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_cov_model.sv
Labels: cva6

#2114 Updated riscv-arch-test suites
  cva6/regress/install-cva6.sh
  cva6/regress/install-riscv-arch-test.sh
Labels: cva6

#2115 Merge script
  bin/merge.sh
Labels: cv32e40x, cv32e40s

#2112 ISACOV : Add (x7) register in load hazard test
  cva6/tests/custom/isacov/load_reg_hazard.S
Labels: cva6

#2110 ISACOV : Ignore OFLOW BIN when check_overflow = 0
  lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv
Labels: cva6

#1789 MMU test plan for SV32 address translation scheme
  cva6/docs/VerifPlans/MMU_SV32/VP_IP000.yml
  cva6/docs/VerifPlans/MMU_SV32/VP_IP001.yml
  cva6/docs/VerifPlans/MMU_SV32/VP_IP002.yml
  cva6/docs/VerifPlans/MMU_SV32/runme.sh
  cva6/docs/VerifPlans/source/dvplan_MMU_SV32.md
Labels: cva6

#2118 [Spike] cvxif agent features
  vendor/patches/riscv/riscv-isa-sim/0006-implement-unknown-cvxif-exception.patch
  vendor/riscv/riscv-isa-sim/customext/cvxif.cc
  vendor/riscv/riscv-isa-sim/riscv/trap.h
Labels: cva6

#2023 ci: report environment failures in dashboard
  .gitlab-ci/cva6.yml
  .gitlab-ci/scripts/report_envfail.py
Labels: cva6

#2125 40s Formal - Maintenance
  cv32e40s/fv/dummy_pkg.sv
  cv32e40s/fv/fv.flist
  cv32e40s/fv/jaspergold.tcl
  cv32e40s/tb/uvmt/uvmt_cv32e40s_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_interface_integrity_assert.sv
Labels: cv32e40s, formal

#2129 Updated cv32e40s core hash to 41cbecf7690efd0ccd75b32bc31aab09c5dede56
  cv32e40s/sim/ExternalRepos.mk
Labels: cv32e40s

#2131 Formal - "ExternalRepos.mk"
  cv32e40s/fv/Makefile
Labels: cv32e40s, formal

#2132 glitch prefix, better decode logic usage
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_dummy_and_hint_assert.sv
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_constants.sv
Labels: cv32e40s

#2136 Added covers for nmi in debug followed by single stepping with stepie = 0/1
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
Labels: cv32e40s

#2135 Some packed commits...
  cv32e40p/tests/cfg/pulp.yaml
  cv32e40p/tests/cfg/pulp_cluster.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu.yaml
  cv32e40p/tests/cfg/pulp_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/programs/custom/fpu_bugs_test/test.c
  cv32e40p/tests/programs/custom/fpu_bugs_test/test.yaml
  cv32e40p/tests/programs/custom/matmul_32b_float/stimuli.h
  cv32e40p/tests/programs/custom/matmul_32b_float/test.c
Labels: cv32e40p

#2143 Updated 40x-dv hash to 653a93fc
  bin/clonetb
Labels: cv32e40x

#2080 Add variant into cva6 parameter
  cva6/tb/uvmt/cva6_tb_wrapper.sv
  cva6/tb/uvmt/uvmt_cva6_dut_wrap.sv
  cva6/tb/uvmt/uvmt_cva6_tb.sv
  cva6/tb/uvmt/uvmt_cva6_tb_ifs.sv
Labels: cva6

#2152 Fixed merge script not working in the morning (single-digit hours)
  bin/merge.sh
Labels: cv32e40s

#2153 Updated 40x-dv hash to 0a6e8865
  bin/clonetb
Labels: cv32e40x

#2146 Latency options for OBI VIP configuration (plus other additions)
  bin/templates/regress_rmdb.j2
  bin/templates/regress_sh.j2
  cv32e40p/env/uvme/uvme_cv32e40p_cfg.sv
  cv32e40p/regress/cv32e40pv2_ci_check.yaml
  cv32e40p/regress/cv32e40pv2_fpu.yaml
  cv32e40p/regress/cv32e40pv2_full_covg.yaml
  cv32e40p/sim/ExternalRepos.mk
  mk/uvmt/vsim.mk
Labels: cv32e40p

#2155 Minor update to the dev_fix_debug_* test-programs to fix bit-rot issues.
  cv32e40p/sim/tools/xrun/README.md
  cv32e40p/tests/programs/custom/debug_test_boot_set/debug_test_reset.c
  cv32e40p/tests/programs/custom/debug_test_reset/debug_test_reset.c
  cv32e40p/tests/programs/custom/debug_test_trigger/debug_test.c
  cv32e40p/tests/uvmt/base-tests/uvmt_cv32e40p_base_test.sv
Labels: bug, cv32e40p

#2161 Disable register crossing in Functional coverage
  cva6/env/uvme/uvme_cva6_cfg.sv
Labels: cva6

#2165 fixed a CEX in assert a_mepc_set_correct_after_irq
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
Labels: cv32e40s

#2166 Resolved clic assert fixmes for mscratchcsw and mscratchcswl
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
Labels: cv32e40s
