Repository openhwgroup/core-v-verif, pull requests merged in 2023-11, with the labels that each got.

#2274 Fencei - Link to Coverage
  cv32e40s/docs/VerifPlans/Simulation/micro_architecture/CV32E40SX_fencei.csv
  cv32e40s/docs/VerifPlans/Simulation/micro_architecture/CV32E40SX_fencei.json
  cv32e40s/docs/VerifPlans/Simulation/micro_architecture/CV32E40SX_fencei.xlsx
  cv32e40s/tb/assertions/uvmt_cv32e40s_fencei_assert.sv
Labels: cv32e40s

#2278 Removed dret to umode clears mintthresh assertion (no longer req)
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
Labels: cv32e40s

#2279 Added more linked coverage to U-mode vplan
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.csv
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.json
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.xlsx
Labels: cv32e40s

#2280 CV32E40P corev-dv debug gen fixes & HWLoop coverage
  cv32e40p/env/corev-dv/cv32e40p_asm_program_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_debug_rom_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_illegal_instr.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_gen_config.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_pkg.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_sequence.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_test_pkg.sv
  cv32e40p/env/corev-dv/cv32e40p_rand_instr_stream.sv
  cv32e40p/env/uvme/cov/uvme_cv32e40p_cov_model.sv
  cv32e40p/env/uvme/cov/uvme_rv32x_hwloop_covg.sv
  cv32e40p/env/uvme/uvme_cv32e40p_param_all_insn.sv
  cv32e40p/env/uvme/uvme_cv32e40p_pkg.sv
  cv32e40p/env/uvme/uvme_cv32e40p_tdefs.sv
  cv32e40p/env/uvme/vseq/uvme_cv32e40p_random_debug_vseq.sv
  cv32e40p/regress/cv32e40pv2_interrupt_debug.yaml
  cv32e40p/regress/cv32e40pv2_interrupt_debug_short.yaml
  cv32e40p/tb/uvmt/uvmt_cv32e40p_macros.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb_ifs.sv
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_hwloop_debug/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_hwloop_debug/test.yaml
  cv32e40p/tests/programs/custom/fpu_bugs_test/test.c
  cv32e40p/tests/test_cfg/debug_trigger_basic.yaml
Labels: cv32e40p

#2285 Clic vplan link2cov updates
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.csv
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.json
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.xlsx
Labels: cv32e40s

#2287 Add paramset 1
  cv32e40s/tests/cfg/param_set_1.yaml
Labels: cv32e40x, cv32e40s

#2288 Fix xsecure property
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_rchk_shim.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_interface_integrity_assert.sv
Labels: cv32e40s

#2267 Integrated rchk shim
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_rchk_shim.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
Labels: cv32e40s

#2297 Updated disassembler to handle sreg representation of compressed regs
  lib/isa_decoder/isa_decoder.sv
  lib/isa_decoder/isa_typedefs.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_mon.sv
Labels: cv32e40s

#2272 Updating interrupt test and Imperas integration.
  cv32e20/tb/uvmt/uvmt_cv32e20_imperas_dv_wrap.sv
  cv32e20/tests/cfg/default.yaml
  cv32e20/tests/programs/custom/interrupt_test/interrupt_test.c
Labels: cv32e20

#2302 Clic coverpoint irq level
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.csv
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.json
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.xlsx
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
Labels: cv32e40s

#2262 PMP vPlan - Link to Coverage
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_PMP.csv
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_PMP.json
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_PMP.xlsx
  cv32e40s/tb/assertions/uvmt_cv32e40s_pmp_assert.sv
  cv32e40s/tb/assertions/uvmt_cv32e40s_pmprvfi_assert.sv
  cv32e40s/tb/assertions/uvmt_cv32e40s_rvfi_assert.sv
  cv32e40s/tb/assertions/uvmt_cv32e40s_rvfi_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
Labels: cv32e40s

#2303 Add pointer to "Common Makefile"
  cv32e20/README.md
Labels: documentation, cv32e20

#2300 Zcmp test update
  cv32e40s/docs/VerifPlans/Simulation/Zc/RV32Zc_Extension_Instructions.csv
  cv32e40s/docs/VerifPlans/Simulation/Zc/RV32Zc_Extension_Instructions.json
  cv32e40s/docs/VerifPlans/Simulation/Zc/RV32Zc_Extension_Instructions.xlsx
  cv32e40s/docs/VerifPlans/Simulation/debug-trace/CV32E40XS_debug.csv
  cv32e40s/docs/VerifPlans/Simulation/debug-trace/CV32E40XS_debug.json
  cv32e40s/docs/VerifPlans/Simulation/debug-trace/CV32E40XS_debug.xlsx
  cv32e40s/tests/programs/custom/debug_test2/debug_test2.c
  cv32e40s/tests/programs/custom/pma/pma.c
  cv32e40s/tests/programs/custom/pushpop_debug_triggers/pushpop_debug_triggers.c
Labels: cv32e40s
