Repository openhwgroup/core-v-verif, pull requests merged in 2023-07, with the labels that each got.

#1991 cv32e40s ldgen bugfix
  cv32e40s/bsp/crt0.S
  cv32e40s/bsp/link.ld
  cv32e40s/bsp/link_corev-dv.ld
  cv32e40s/env/corev-dv/cv32e40s_asm_program_gen.sv
  cv32e40s/env/corev-dv/cv32e40s_instr_gen_config.sv
  cv32e40s/env/corev-dv/cv32e40s_zcmt_instr_lib.sv
  cv32e40s/env/corev-dv/ldgen/cv32e40s_ldgen.sv
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/sim/ExternalRepos.mk
  cv32e40s/tb/ldgen/ldgen_tb.sv
  cv32e40s/tests/cfg/b_ext_abs.yaml
  cv32e40s/tests/cfg/b_ext_all.yaml
  cv32e40s/tests/cfg/clic_default.yaml
  cv32e40s/tests/cfg/debug_trigger_cfg0.yaml
  cv32e40s/tests/cfg/debug_trigger_cfg1.yaml
  cv32e40s/tests/cfg/debug_trigger_cfg2.yaml
  cv32e40s/tests/cfg/debug_trigger_cfg3.yaml
  cv32e40s/tests/cfg/debug_trigger_cfg4.yaml
  cv32e40s/tests/cfg/default.yaml
  cv32e40s/tests/cfg/dummy_instr.yaml
  cv32e40s/tests/cfg/pma.yaml
  cv32e40s/tests/cfg/pma_debug.yaml
  cv32e40s/tests/cfg/pma_test_cfg_1.yaml
  cv32e40s/tests/cfg/pma_test_cfg_2.yaml
  cv32e40s/tests/cfg/pma_test_cfg_3.yaml
  cv32e40s/tests/cfg/pma_test_cfg_4.yaml
  cv32e40s/tests/cfg/pma_test_cfg_5.yaml
  cv32e40s/tests/cfg/pmp.yaml
  cv32e40s/tests/cfg/pmp_g3r3.yaml
  cv32e40s/tests/programs/custom/debug_priv_test/debugger.S
  cv32e40s/tests/programs/custom/interrupt_test/test.yaml
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_constants.sv
  lib/mem_region_gen/pma_adapted_mem_region_gen.sv
  lib/uvm_agents/uvma_core_cntrl/uvma_core_cntrl_pma_region.sv
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_mon.sv
  lib/uvm_agents/uvma_obi_memory/src/obj/uvma_obi_memory_mon_trn.sv
  lib/uvm_agents/uvma_pma/src/comps/uvma_pma_sb.sv
  lib/uvm_agents/uvma_pma/src/obj/uvma_pma_cfg.sv
  mk/uvmt/uvmt.mk
  mk/uvmt/xrun.mk
Labels: cv32e40s

#2026 Updated regression scripts to fix issues with --iss 0
  bin/cv_regress
  bin/templates/regress_sh.j2
  bin/templates/regress_vsif.j2
Labels: cv32e40s

#2027 Removed b_ext_abs cfg from b-ext test in full regression
  cv32e40s/regress/cv32e40s_full.yaml
Labels: cv32e40s

#2011 [cv32e40p]update imperas files to align to latest version
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/tb/uvmt/imperas_dv.flist
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tests/cfg/pulp_cluster_fpu.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_4cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_4cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu.yaml
  cv32e40p/tests/cfg/pulp_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_4cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_4cyclat.yaml
Labels: cv32e40p

#2020 CVXIF : Add custom instruction spec & add feature for custom instruction in the DV-plan
  cva6/docs/VerifPlans/CVXIF/VP_IP000.pck
  cva6/docs/VerifPlans/CVXIF/VP_IP000.yml
  cva6/docs/VerifPlans/CVXIF/VP_IP001.pck
  cva6/docs/VerifPlans/CVXIF/VP_IP001.yml
  cva6/docs/VerifPlans/CVXIF/VP_IP002.pck
  cva6/docs/VerifPlans/CVXIF/VP_IP002.yml
  cva6/docs/VerifPlans/CVXIF/VP_IP003.yml
  cva6/docs/VerifPlans/CVXIF/custom_instruction.rst
  cva6/docs/VerifPlans/source/dvplan_CVXIF.md
Labels: cva6

#2037 Added Zc* instructions to disassembler
  lib/support/isa_support.sv
Labels: cv32e40x, cv32e40s

#2040 CVXIF : Modify the cus_exc instruction spec to RTYPE
  cva6/env/uvme/cvxif_vseq/custom_instruction.rst
Labels: cva6

#2041 CVXIFCOV : Aligned cvxif cov with the new cvxif instr spec
  cva6/env/uvme/cov/uvme_cvxif_covg.sv
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_cov_model.sv
  lib/uvm_agents/uvma_cvxif/src/obj/uvma_cvxif_cfg.sv
Labels: cva6

#2005 CVXIF : Fix value of user mode & cus_exc decode
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_base_vseq.sv
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_vseq.sv
  lib/uvm_agents/uvma_cvxif/src/uvma_cvxif_tdefs.sv
Labels: cva6

#2042 Add A extension to STEP1 configuration
  cva6/env/corev-dv/target/rv32imac/riscv_core_setting.sv
  cva6/regress/dv-generated-tests.sh
Labels: cva6

#2043 CVA6-DV : Update cva6-dv to support cvxif custom instruction base on new spec
  cva6/env/corev-dv/custom/cvxif_custom_instr.sv
  cva6/env/corev-dv/custom/riscv_custom_instr_enum.sv
  cva6/env/corev-dv/custom/rv32x_instr.sv
  cva6/env/corev-dv/cva6-files.f
  cva6/env/corev-dv/cva6_asm_program_gen.sv
  cva6/env/corev-dv/cva6_defines.svh
  cva6/env/corev-dv/cva6_instr_pkg.sv
  cva6/env/corev-dv/cva6_instr_test_pkg.sv
  cva6/env/corev-dv/cva6_signature_pkg.sv
  cva6/env/corev-dv/target/rv32imc/riscv_core_setting.sv
  cva6/env/corev-dv/user_extension/x_extn_user_define.h
Labels: cva6

#2021 ci: move expected results to cva6 repository
  .gitlab-ci/scripts/report_synth.py
Labels: cva6

#2044 Adapting spike to implement the cvxif agent spec
  cva6/tests/custom/cv_xif/cvxif_macros.h
  vendor/riscv/riscv-isa-sim/customext/cvxif.cc
  vendor/riscv/riscv-isa-sim/riscv/cvxif.h
  vendor/riscv/riscv-isa-sim/riscv/processor.h
  vendor/riscv/riscv-isa-sim/spike_main/spike.cc
Labels: cva6

#2046 Added clic tests to cover coverage holes, fixed clic test issues
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
  cv32e40s/tests/programs/custom/clic/clic.c
  cv32e40s/tests/programs/custom/clic/test.yaml
  lib/uvm_agents/uvma_clic/uvma_clic_cfg.sv
  lib/uvm_agents/uvma_clic/uvma_clic_drv.sv
Labels: cv32e40s

#2051 Added support for 40X in debug_test2, fixed typo
  cv32e40s/tests/programs/custom/debug_test2/debug_test2.c
  cv32e40s/tests/programs/custom/hello-world/hello-world.c
Labels: cv32e40s

#2055 Outputs to bit & fixed case statement in decode_instr()
  lib/support/isa_support.sv
Labels: cv32e40s

#2056 Added assertion to verify trap for unknown_instr & fixed fence/fencei in disassembler
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_assert.sv
  lib/support/isa_support.sv
Labels: cv32e40x, cv32e40s

#2006 Reinstate VCS support for CV32E40Pv2 on master branch
  .gitignore
  cv32e40p/bsp/Makefile
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/sim/core/Makefile
  cv32e40p/tb/uvmt/uvmt_cv32e40p.flist
  cv32e40p/tests/programs/custom/debug_test/debug_test.c
  lib/dpi_dasm/lib/Linux64/libdpi_dasm.so
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_cov_model.sv
  mk/Common.mk
  mk/uvmt/vcs.mk
Labels: enhancement, cv32e40p

#2029 [cv32e40p] make file updates and minor updates for riscof setup
  bin/cfgyaml2make
  cv32e40p/regress/cv32e40p_v1_riscof_riscv_arch_test.yaml
  cv32e40p/regress/cv32e40p_v2_riscof_riscv_arch_test.yaml
  cv32e40p/sim/riscof/README.md
  cv32e40p/sim/riscof/config.ini
  cv32e40p/sim/riscof/config_cv32e40p_v2.ini
  cv32e40p/sim/riscof/cv32e40p/env/model_test.h
  cv32e40p/sim/riscof/cv32e40p/riscof_cv32e40p.py
  cv32e40p/sim/riscof/sail_cSim/env/model_test.h
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_riscv_coverage_config.svh
  cv32e40p/tests/test_cfg/debug_single_step_en.yaml
  cv32e40p/tests/test_cfg/floating_pt_instr_en.yaml
  mk/Common.mk
  mk/uvmt/uvmt.mk
  mk/uvmt/vcs.mk
  mk/uvmt/vsim.mk
  mk/uvmt/xrun.mk
Labels: cv32e40p

#2053 updated rmdb file to support test_cfg option AND improvment from cancelled PR 1972
  bin/templates/regress_rmdb.j2
Labels: cv32e40p

#2052 Update cv32e40p core hash
  cv32e40p/sim/ExternalRepos.mk
Labels: cv32e40p

#2059 Made it possible to use the Risc-v disassembler with isacov
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_cfg.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_mon.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_pkg.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_tdefs.sv
Labels: cv32e40x, cv32e40s

#2062 Make some synthesis CI jobs manual
  .gitlab-ci/cva6.yml
Labels: cva6

#2022 [cv32e40p] updates for pulp random streams and new tests
  cv32e40p/env/corev-dv/custom/isa/custom/riscv_custom_instr.sv
  cv32e40p/env/corev-dv/custom/riscv_instr_pkg.sv
  cv32e40p/env/corev-dv/cv32e40p_asm_program_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_gen_config.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_sequence.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_hwloop_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_instr_lib.sv
  cv32e40p/regress/cv32e40p_xpulp_rand_tests.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_hwloop_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_instr_test/test.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_mac_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_mac_instr_test/test.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_simd_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_simd_instr_test/test.yaml
  mk/uvmt/vcs.mk
Labels: cv32e40p

#2064 matmul_32b_float updated to test all Zfinx CSR presence cases.
  cv32e40p/tests/programs/custom/matmul_32b_float/test.c
Labels: cv32e40p

#2054 Added first draft for v2 regressions, with support of test_cfg option
  cv32e40p/regress/cv32e40pv2_full_covg.yaml
  cv32e40p/regress/cv32e40pv2_pulp_covg.yaml
  cv32e40p/regress/cv32e40pv2_pulp_fpu_all_lat_covg.yaml
  cv32e40p/regress/cv32e40pv2_pulp_fpu_no_lat_covg.yaml
  cv32e40p/regress/cv32e40pv2_pulp_fpu_zfinx_all_lat_covg.yaml
  cv32e40p/regress/cv32e40pv2_pulp_fpu_zfinx_no_lat_covg.yaml
Labels: cv32e40p

#2072 HOTFIX : Fix a cross in cvxif agent coverage model
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_cov_model.sv
Labels: cva6

#2071 Define AXI as cva6 input parameters
  cva6/tb/core/Flist.cva6_tb
  cva6/tb/uvmt/cva6_tb_wrapper.sv
  cva6/tb/uvmt/uvmt_cva6_dut_wrap.sv
  cva6/tb/uvmt/uvmt_cva6_tb.sv
Labels: cva6

#2069 Corrected matmul_32b_float test for v1 and removed 3 cycles FPU latencies configs
  cv32e40p/tests/cfg/pulp_cluster_fpu_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_3cyclat.yaml
  cv32e40p/tests/programs/custom/matmul_32b_float/test.c
Labels: cv32e40p

#2074 Added illegal access tests for mscratchcsw* to clic test
  cv32e40s/tests/programs/custom/clic/clic.c
Labels: cv32e40s

#2045 CV32E40P: Delete debug printf
  cv32e40p/tests/programs/custom/interrupt_test/interrupt_test.c
Labels: cv32e40p

#2081 TB updates and fixes
  cv32e40p/env/corev-dv/custom/isa/custom/riscv_custom_instr.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_base_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_hwloop_instr_lib.sv
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb.sv
  mk/README.md
Labels: cv32e40p

#2086 Fixed issue with always_comb block using signals written within
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: bug, Resolved, cv32e40s

#2087 Temporary fix to get ISS regression runs going
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
Labels: cv32e40s

#2070 Expanded disassembler with A extension. Not tested
  lib/support/isa_support.sv
Labels: cv32e40x, cv32e40s

#1895 Decoder for some C instructions
  lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_instr.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_mon.sv
Labels: cva6
