Repository openhwgroup/core-v-verif, pull requests merged in 2023-04, with the labels that each got.

#1776 OBI Assert - Parity
  lib/uvm_agents/uvma_obi_memory/src/uvma_obi_memory_1p2_assert.sv
Labels: cv32e40s

#1768 CVXIF : Update the CVXIF agent
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_base_vseq.sv
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_vseq.sv
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_mon.sv
Labels: cv-x-if

#1765 Switch Verilator testing to use v5.008 instead of v4.110
  .gitlab-ci/cva6.yml
  cva6/regress/install-cva6.sh
  cva6/regress/install-spike.sh
  cva6/regress/install-verilator.sh
  cva6/regress/verilator-v5.patch
  cva6/sim/Makefile
Labels: cva6

#1757 fix: optionally remove bad print after csrr mcycle
  cva6/tests/custom/common/syscalls.c
Labels: cva6

#1792 Updated cv32e40s core hash to: 9099391dcdeba0dfab67705bfced2b5ce0f123ee
  cv32e40s/sim/ExternalRepos.mk
Labels: cv32e40s

#1779 cva6/docs/verif-approval: add file describing task approval process
  cva6/docs/verif-approvals.md
Labels: cva6

#1791 Optional compile of ImperasDV
  cv32e40p/tb/uvmt/uvmt_cv32e40p.flist
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb.sv
  mk/uvmt/xrun.mk
Labels: enhancement, cv32e40p, tool

#1790 Remove OpenHW/SiLabs copyright headers from unmodified Coremark files
  cv32e40p/tests/programs/custom/coremark/core_list_join.c
  cv32e40p/tests/programs/custom/coremark/core_main.c
  cv32e40p/tests/programs/custom/coremark/core_matrix.c
  cv32e40p/tests/programs/custom/coremark/core_state.c
  cv32e40p/tests/programs/custom/coremark/core_util.c
  cv32e40p/tests/programs/custom/coremark/coremark.h
  cv32e40p/tests/programs/custom/coremark/test.yaml
  cv32e40s/tests/programs/custom/coremark/core_list_join.c
  cv32e40s/tests/programs/custom/coremark/core_main.c
  cv32e40s/tests/programs/custom/coremark/core_matrix.c
  cv32e40s/tests/programs/custom/coremark/core_state.c
  cv32e40s/tests/programs/custom/coremark/core_util.c
  cv32e40s/tests/programs/custom/coremark/coremark.h
  cv32e40s/tests/programs/custom/coremark/test.yaml
  cv32e40x/tests/programs/custom/coremark/core_list_join.c
  cv32e40x/tests/programs/custom/coremark/core_main.c
  cv32e40x/tests/programs/custom/coremark/core_matrix.c
  cv32e40x/tests/programs/custom/coremark/core_state.c
  cv32e40x/tests/programs/custom/coremark/core_util.c
  cv32e40x/tests/programs/custom/coremark/coremark.h
  cv32e40x/tests/programs/custom/coremark/test.yaml
Labels: cv32e20

#1745 CVA6 DV : Add a configuration bit (enable_x_extension) to generate the right .include
  cva6/env/corev-dv/cva6_asm_program_gen.sv
  cva6/env/corev-dv/cva6_instr_base_test.sv
  cva6/env/corev-dv/cva6_instr_gen_config.sv
  cva6/env/corev-dv/cva6_instr_test_pkg.sv
  cva6/env/corev-dv/user_extension/x_extn_user_define.h
Labels: cva6

#1795 Correction ISS=no for xrun and vsim
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb.sv
  mk/uvmt/vsim.mk
  mk/uvmt/xrun.mk
Labels: cv32e40p

#1787 Add support for E40X core simulation using Verilator/Questa Vsim
  cv32e40x/sim/core/Makefile
  cv32e40x/sim/core/README.md
  cv32e40x/tb/core/cv32e40x_tb_wrapper.sv
  cv32e40x/tb/core/mm_ram.sv
Labels: cv32e40x

#1798 ISACOV : Fixed analysis port & removed isacov unused vif & fixed config knobs
  lib/uvm_agents/uvma_isacov/uvma_isacov_agent.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_cntxt.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_if.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_mon.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_pkg.sv
Labels: cva6

#1804 Various fixes for Interrupt bootstrap test
  cv32e40s/tests/programs/custom/interrupt_bootstrap/crt0.S
  cv32e40s/tests/programs/custom/interrupt_bootstrap/interrupt_bootstrap.S
  cv32e40s/tests/programs/custom/interrupt_bootstrap/interrupt_bootstrap.c
  cv32e40s/tests/programs/custom/interrupt_bootstrap/link.ld
  cv32e40s/tests/programs/custom/interrupt_bootstrap/test.yaml
  cv32e40s/tests/programs/custom/interrupt_test/interrupt_test.h
Labels: cv32e40s

#1803 ci: refactor report generation
  .gitlab-ci/scripts/report_builder.py
  .gitlab-ci/scripts/report_fail.py
  .gitlab-ci/scripts/report_fpga.py
  .gitlab-ci/scripts/report_fpga_boot.py
  .gitlab-ci/scripts/report_pass.py
  .gitlab-ci/scripts/report_simu.py
  .gitlab-ci/scripts/report_synth.py
Labels: cva6

#1762 update xsecure hardened CSRs assertion set
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_hardened_csrs_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_hardened_csrs_clic_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_hardened_csrs_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_hardened_csrs_pmp_assert.sv
Labels: cv32e40s

#1764 update xsecure reduced profiling infrastructure assertion set
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_reduced_profiling_infrastructure_assert.sv
Labels: cv32e40s

#1796 Made interface methods automatic, changed bit->logic
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_csr_if.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1820 Fixed stack issues in interrupt bootstrap test
  cv32e40s/tests/programs/custom/interrupt_bootstrap/interrupt_bootstrap.c
Labels: cv32e40s

#1805 CVXIF : Fix the Decode method & end of simulation
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_base_vseq.sv
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_vseq.sv
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_cov_model.sv
Labels: cva6

#1753 PMA Coverage
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40SX_PMA_VerifPlan.csv
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40SX_PMA_VerifPlan.xlsx
  cv32e40s/tb/assertions/README.md
  cv32e40s/tb/assertions/uvmt_cv32e40s_pma_model.sv
  cv32e40s/tb/assertions/uvmt_cv32e40s_pmp_model.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_constants.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tdefs.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1799 RVFI Assert - Check "rvfi_intr.interrupt" count
  cv32e40s/fv/jaspergold.tcl
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
Labels: cv32e40s

#1763 update xsecure hardened PC assertion set
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_hardened_pc_assert.sv
Labels: cv32e40s

#1822 Fixed stack issues in interrupt_priv_test
  cv32e40s/tests/programs/custom/interrupt_priv_test/interrupt_priv_test.c
Labels: cv32e40s

#1825 CSR POR test assumption update
  cv32e40s/tests/programs/custom/requested_csr_por/requested_csr_por.c
Labels: cv32e40s

#1826 UVMA RVFI - Remove 40s-dependency (again)
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_constants.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1770 Adapt the environment and test-bench to execute the AXI agent in active/passive mode
  cva6/env/uvme/uvme_cva6_cfg.sv
  cva6/env/uvme/uvme_cva6_env.sv
  cva6/sim/cva6.py
  cva6/tb/core/tb_components/axi_master_connect.sv
  cva6/tb/uvmt/cva6_tb_wrapper.sv
  cva6/tb/uvmt/uvmt_axi_switch_intf.sv
  cva6/tb/uvmt/uvmt_cva6_dut_wrap.sv
  cva6/tb/uvmt/uvmt_cva6_pkg.sv
  cva6/tb/uvmt/uvmt_cva6_tb.sv
  cva6/tests/uvmt/base-tests/uvmt_cva6_base_test.sv
Labels: cva6

#1811 update xsecure interface integrity
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_sl_req_attribute_fifo.sv
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_interface_integrity_assert.sv
Labels: DO NOT MERGE, cv32e40s

#1810 ci: notification from Dashboard
  .github/workflows/dashboard-done.yml
  .gitlab-ci/scripts/github_integration.py
  .gitlab-ci/scripts/merge_job_reports.py
Labels: cva6

#1838 Enabling floating point register and CSR check
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb.sv
  cv32e40p/tests/cfg/pulp_fpu_zfinx.yaml
Labels: cv32e40p

#1840 Added first basic fp instr stream and file renaming
  cv32e40p/env/corev-dv/custom/isa/riscv_fp_in_x_regs_instr.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_test_pkg.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_base_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_simple_instr_lib.sv
Labels: cv32e40p

#1837 Data bus error test update
  cv32e40s/tests/programs/custom/data_bus_error/data_bus_error.c
Labels: cv32e40s

#1812 update xsecure ECC in register file
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_register_file_ecc_assert.sv
Labels: cv32e40s

#1813 update xsecure security alert assertions
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_security_alerts_assert.sv
Labels: cv32e40s

#1821 update xsecure bus protocol assertions
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_bus_protocol_hardening_assert.sv
Labels: cv32e40s

#1836 Vplan try3
  cv32e40s/docs/VerifPlans/Simulation/xsecure/CV32e40s_xsecure_vplan.csv
  cv32e40s/docs/VerifPlans/Simulation/xsecure/CV32e40s_xsecure_vplan.xlsx
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.csv
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.xlsx
Labels: cv32e40s

#1843 Relaxed bus error scoreboard check
  cv32e40s/env/uvme/uvme_cv32e40s_buserr_sb.sv
Labels: cv32e40s

#1852 fix idv flist inclusion
  cv32e40s/tb/uvmt/uvmt_cv32e40s.flist
  mk/uvmt/xrun.mk
Labels: cv32e40s
