Repository openhwgroup/core-v-verif, pull requests merged in 2023-03, with the labels that each got.

#1689 Support test termination on write-into-tohost with bit 0 set
  cva6/regress/riscv-tests-env.patch
  cva6/sim/Makefile
  cva6/tests/custom/common/syscalls.c
Labels: cva6

#1676 update the flist references
  cv32e40s/tb/uvmt/imperas_dv.flist
  cv32e40s/tb/uvmt/imperas_iss.flist
Labels: cv32e40s

#1701 Add functions to the rvfi and <csr>_rvfi interfaces
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_csr_if.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e20

#1686 PMA Assert - Add Missing Asserts
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40SX_PMA_VerifPlan.xlsx
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
  mk/uvmt/xrun.mk
Labels: cv32e40s

#1691 CVXIF Coverage model
  cva6/env/uvme/uvme_cva6_cfg.sv
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_cov_model.sv
  lib/uvm_agents/uvma_cvxif/src/obj/uvma_cvxif_cfg.sv
  lib/uvm_agents/uvma_cvxif/src/uvma_cvxif_macros.sv
  lib/uvm_agents/uvma_cvxif/src/uvma_cvxif_pkg.sv
  lib/uvm_agents/uvma_cvxif/src/uvma_cvxif_tdefs.sv
Labels: cva6

#1654 U-Mode Directeds - Add To "full" Regression
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/programs/custom/csr_priv_gen_test/README.md
  cv32e40s/tests/programs/custom/custom_priv_gen_test/README.md
  cv32e40s/tests/programs/custom/debug_priv_test/README.md
  cv32e40s/tests/programs/custom/interrupt_priv_test/README.md
  cv32e40s/tests/programs/custom/interrupt_priv_test/interrupt_priv_test.c
  cv32e40s/tests/programs/custom/mcounteren_priv_gen_test/README.md
  cv32e40s/tests/programs/custom/privilege_test/README.md
Labels: cv32e40s

#1532 InterruptAssert - Updates
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
Labels: cv32e40s

#1702 Add Zc / Fix regression issues
  bin/templates/csr_access_test_template.S
  cv32e40s/bsp/Makefile
  cv32e40s/bsp/crt0.S
  cv32e40s/bsp/link.ld
  cv32e40s/env/corev-dv/cv32e40s_asm_program_gen.sv
  cv32e40s/env/corev-dv/cv32e40s_fencei_instr_lib.sv
  cv32e40s/env/corev-dv/cv32e40s_instr_base_test.sv
  cv32e40s/env/corev-dv/cv32e40s_instr_sequence.sv
  cv32e40s/env/corev-dv/cv32e40s_instr_test_pkg.sv
  cv32e40s/env/corev-dv/cv32e40s_jvt_table.sv
  cv32e40s/env/corev-dv/cv32e40s_zcmp_instr_lib.sv
  cv32e40s/env/corev-dv/cv32e40s_zcmt_instr_lib.sv
  cv32e40s/env/corev-dv/target/cv32e40s/riscv_core_setting.sv
  cv32e40s/env/uvme/uvma_cv32e40s_core_cntrl_agent.sv
  cv32e40s/env/uvme/uvme_cv32e40s_buserr_sb.sv
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/sim/ExternalRepos.mk
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tests/cfg/default.yaml
  cv32e40s/tests/cfg/no_bitmanip.yaml
  cv32e40s/tests/cfg/pma_test_cfg_1.yaml
  cv32e40s/tests/cfg/pma_test_cfg_2.yaml
  cv32e40s/tests/cfg/pma_test_cfg_3.yaml
  cv32e40s/tests/cfg/pma_test_cfg_4.yaml
  cv32e40s/tests/cfg/pma_test_cfg_5.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_data_obi_err/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_data_obi_err_debug/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_debug_ebreak/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_illegal_instr_test/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_long_stall/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_obi_err/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_obi_err_debug/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_test/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt_exception/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt_nested/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt_wfi/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt_wfi_mem_stress/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_jump_stress_test/corev-dv.yaml
  cv32e40s/tests/programs/custom/csr_instr_asm/csr_instr_asm.S
  cv32e40s/tests/programs/custom/cv32e40s_csr_access_test/cv32e40s_csr_access_test.S
  cv32e40s/tests/programs/custom/hpmcounter_basic_nostall_test/hpmcounter_basic_nostall_test.c
  cv32e40s/tests/programs/custom/hpmcounter_basic_test/hpmcounter_basic_test.c
  cv32e40s/tests/programs/custom/hpmcounter_hazard_test/hpmcounter_hazard_test.c
  cv32e40s/tests/programs/custom/interrupt_test/interrupt_test.c
  cv32e40s/tests/programs/custom/isa_fcov_holes/isa_fcov_holes.S
  cv32e40s/tests/programs/custom/load_store_rs1_zero/load_store_rs1_zero.S
  cv32e40s/tests/programs/custom/pma/pma.c
  cv32e40s/tests/programs/custom/riscv_arithmetic_basic_test_0/riscv_arithmetic_basic_test_0.S
  cv32e40s/tests/programs/custom/riscv_arithmetic_basic_test_1/riscv_arithmetic_basic_test_1.S
Labels: cv32e40s

#1661 Updating cv32e40p testbench to ImperasDV
  cv32e40p/env/uvme/uvme_cv32e40p_cfg.sv
  cv32e40p/env/uvme/uvme_cv32e40p_cntxt.sv
  cv32e40p/env/uvme/uvme_cv32e40p_env.sv
  cv32e40p/env/uvme/uvme_cv32e40p_pkg.sv
  cv32e40p/env/uvme/vseq/uvme_cv32e40p_vp_rand_num_seq.sv
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/tb/uvmt/imperas_dv.flist
  cv32e40p/tb/uvmt/imperas_iss.flist
  cv32e40p/tb/uvmt/uvmt_cv32e40p.flist
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_pkg.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb.sv
  cv32e40p/tests/cfg/default.yaml
  cv32e40p/tests/cfg/no_pulp.yaml
  cv32e40p/tests/cfg/pulp.yaml
  cv32e40p/tests/cfg/pulp_cluster.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_4cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_4cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu.yaml
  cv32e40p/tests/cfg/pulp_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_4cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_3cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_4cyclat.yaml
  mk/Common.mk
  mk/uvmt/uvmt.mk
  mk/uvmt/xrun.mk
  vendor_lib/imperas/imperas_DV_COREV/sv/imperas_CV32.sv
Labels: cv32e40p

#1718 axi_agent: adapt the assertion to support the AXI modifiable transaction
  cva6/tb/uvmt/uvmt_cva6_axi_assert.sv
Labels: cva6

#1722 Convert Vplans to CSV
  cv32e40s/docs/VerifPlans/Simulation/Zc/RV32Zc_Extension_Instructions.csv
  cv32e40s/docs/VerifPlans/Simulation/debug-trace/CV32E40XS_debug.csv
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.csv
  cv32e40s/docs/VerifPlans/Simulation/micro_architecture/CV32E40SX_fencei.csv
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40SX_PMA_VerifPlan.csv
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_PMP.csv
  cv32e40s/docs/VerifPlans/Simulation/xsecure/CV32e40s_xsecure_vplan.csv
Labels: cv32e40s

#1717 Debug test rewrite
  cv32e40s/bsp/link.ld
  cv32e40s/env/uvme/uvma_cv32e40s_core_cntrl_agent.sv
  cv32e40s/regress/cv32e40s_ci_check.yaml
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tb/uvmt/uvmt_cv32e40s_clic_interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
  cv32e40s/tests/cfg/clic_default.yaml
  cv32e40s/tests/programs/custom/debug_test2/debug_test2.c
  cv32e40s/tests/programs/custom/debug_test2/test.yaml
  cv32e40s/tests/programs/custom/interrupt_test/interrupt_test.c
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_slv_seq.sv
  lib/uvm_agents/uvma_pma/src/comps/uvma_pma_mon.sv
  mk/uvmt/vsim.mk
Labels: cv32e40s

#1724 CLIC test bugfix & regression enablement
  cv32e40s/regress/cv32e40s_ci_check.yaml
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/programs/custom/clic/clic.c
Labels: cv32e40s

#1725 Fixed interrupt_test, removed from ci_check due to excessive run time
  cv32e40s/regress/cv32e40s_ci_check.yaml
  cv32e40s/tests/programs/custom/interrupt_test/interrupt_test.c
Labels: cv32e40s

#1690 Debug triggers assertions
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert.sv
  cv32e40s/tests/cfg/default.yaml
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_csr_if.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1723 Update installation flow of test infrastructure.
  cva6/regress/install-riscv-arch-test.sh
  cva6/regress/install-riscv-compliance.sh
  cva6/regress/install-riscv-dv.sh
  cva6/regress/install-riscv-tests.sh
Labels: cva6

#1732 Debug trigger test rewritten
  cv32e40s/bsp/handlers.S
  cv32e40s/bsp/link.ld
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tb/uvmt/uvmt_cv32e40s_constants.sv
  cv32e40s/tests/cfg/debug_trigger_cfg0.yaml
  cv32e40s/tests/cfg/debug_trigger_cfg1.yaml
  cv32e40s/tests/cfg/debug_trigger_cfg2.yaml
  cv32e40s/tests/cfg/debug_trigger_cfg3.yaml
  cv32e40s/tests/cfg/debug_trigger_cfg4.yaml
  cv32e40s/tests/programs/custom/debug_test_trigger/debug_test.c
  cv32e40s/tests/programs/custom/debug_test_trigger/debug_test_trigger.c
  cv32e40s/tests/programs/custom/debug_test_trigger/debugger.S
  cv32e40s/tests/programs/custom/debug_test_trigger/debugger_exception.S
  cv32e40s/tests/programs/custom/debug_test_trigger/handlers.S
  cv32e40s/tests/programs/custom/debug_test_trigger/trigger_code.S
Labels: cv32e40s

#1740 Debug test 0 triggers
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/programs/custom/debug_test_0_triggers/debug_test_0_trigger.c
  cv32e40s/tests/programs/custom/debug_test_0_triggers/test.yaml
Labels: cv32e40s

#1706 Add new mechanism of the end of test for generated tests
  cva6/env/corev-dv/cva6_asm_program_gen.sv
Labels: cva6

#1742 Stretched bootset debug request
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_random_debug_bootset_vseq.sv
Labels: bug, cv32e40s

#1741 Corrected exception code for instruction bus fault
  cv32e40s/bsp/handlers.S
Labels: bug, cv32e40s

#1738 Added signal aliases the rvfi helper functions
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1713 Umode Assert - Add Missing Asserts
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.csv
  cv32e40s/docs/VerifPlans/Simulation/privileged_spec/CV32E40S_UserMode.xlsx
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_rvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_umode_assert.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1735 e40p makefile corrections
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/tb/uvmt/imperas_dv.flist
  cv32e40p/tb/uvmt/imperas_iss.flist
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb.sv
  mk/uvmt/vsim.mk
  mk/uvmt/xrun.mk
Labels: cv32e40p

#1736 Updated ci_check script to take yaml cfgs into account
  .metrics.json
  bin/ci_check
  cv32e40s/regress/cv32e40s_ci_check.yaml
Labels: cv32e40s

#1746 Updated debug_test_reset test for cv32e40s
  cv32e40s/tests/programs/custom/debug_test_reset/debugger.S
Labels: cv32e40s

#1728 Enable Zcmt support in core-v-verif tests
  cv32e40s/env/corev-dv/cv32e40s_zcmt_instr_lib.sv
  cv32e40s/tests/cfg/clic_default.yaml
  cv32e40s/tests/cfg/default.yaml
  cv32e40s/tests/cfg/pma_test_cfg_1.yaml
  cv32e40s/tests/cfg/pma_test_cfg_2.yaml
  cv32e40s/tests/cfg/pma_test_cfg_3.yaml
  cv32e40s/tests/cfg/pma_test_cfg_4.yaml
  cv32e40s/tests/cfg/pma_test_cfg_5.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_data_obi_err/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_data_obi_err_debug/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_illegal_instr_test/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_long_stall/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_obi_err/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_obi_err_debug/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_test/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt/corev-dv.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_jump_stress_test/corev-dv.yaml
Labels: cv32e40s

#1744 clic support riscvdv initial commit
  cv32e40s/env/corev-dv/cv32e40s_asm_program_gen.sv
  cv32e40s/env/corev-dv/target/cv32e40s/riscv_core_setting.sv
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/sim/ExternalRepos.mk
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
  cv32e40s/tests/cfg/clic_default.yaml
  cv32e40s/tests/programs/custom/interrupt_test/interrupt_test.c
  lib/corev-dv/corev_asm_program_gen.sv
Labels: enhancement, cv32e40s

#1747 Fixed bit-width of wb_exception_code in triggers_assert_cov
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
Labels: cv32e40s

#1750 Enable coverage collection flags
  cv32e40s/sim/tools/xrun/covfile.tcl
Labels: cv32e40s

#1758 Removed no compare on DCSR ISS comparison
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dv_wrap.sv
Labels: cv32e40s

#1752 CVXIF : Moving the cvxif sequence from the lib to cva6/lib/
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_base_vseq.sv
  cva6/env/uvme/cvxif_vseq/uvme_cvxif_vseq.sv
  cva6/env/uvme/uvme_cva6_env.sv
  cva6/env/uvme/uvme_cva6_pkg.flist
  cva6/env/uvme/uvme_cva6_vsqr.sv
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_agent.sv
  lib/uvm_agents/uvma_cvxif/src/comps/uvma_cvxif_vsqr.sv
  lib/uvm_agents/uvma_cvxif/src/uvma_cvxif_pkg.sv
Labels: cv-x-if

#1771 Made debug_req aware of initial fetch delay
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_core_cntrl_fetch_toggle_seq.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_random_debug_bootset_vseq.sv
  lib/uvm_agents/uvma_debug/seq/uvma_debug_seq_item.sv
Labels: cv32e40s

#1769 Rvfi clicptr adaptions
  cv32e40s/sim/ExternalRepos.mk
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_tdefs.sv
Labels: cv32e40s

#1699 AXI agent: avoid read outside arrays
  lib/uvm_agents/uvma_axi/src/seq/uvma_axi_b_seq.sv
  lib/uvm_agents/uvma_axi/src/seq/uvma_axi_r_seq.sv
  lib/uvm_agents/uvma_axi/src/seq/uvma_axi_w_seq.sv
Labels: cva6
