Repository openhwgroup/core-v-verif, pull requests merged in 2023-12, with the labels that each got.

#2290 Organizing acknowledgements in the repo.
  ACKNOWLEDGEMENTS.md
  README.md
Labels: cva6, cv32e20

#2316 Random-test Fixup - `obi_err_debug`
  cv32e40s/bsp/corev_uvmt.h
  cv32e40s/env/corev-dv/cv32e40s_asm_program_gen.sv
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/env/uvme/uvme_cv32e40s_env.sv
  cv32e40s/env/uvme/uvme_cv32e40s_pkg.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_fencei_tamper_seq.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_vp_obi_err_await_goahead_seq.sv
  cv32e40s/tests/programs/corev-dv/corev_rand_data_obi_err_debug/test.yaml
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_constants.sv
  lib/uvm_agents/uvma_obi_memory/src/obj/uvma_obi_memory_cfg.sv
  lib/uvm_agents/uvma_obi_memory/src/seq/uvma_obi_memory_slv_base_seq.sv
Labels: cv32e40s

#2305 CV32E40Pv2 core-v-verif environment fixes and updates
  bin/templates/regress_rmdb.j2
  cv32e40p/env/corev-dv/cv32e40p_asm_program_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_debug_rom_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_illegal_instr.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_sequence.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_test_pkg.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_hwloop_instr_lib.sv
  cv32e40p/env/uvme/cov/uvme_rv32x_hwloop_covg.sv
  cv32e40p/env/uvme/uvme_cv32e40p_cfg.sv
  cv32e40p/env/uvme/uvme_cv32e40p_pkg.sv
  cv32e40p/regress/cv32e40p_xpulp_rand_tests.yaml
  cv32e40p/regress/cv32e40pv2_interrupt_debug.yaml
  cv32e40p/regress/cv32e40pv2_interrupt_debug_long.yaml
  cv32e40p/regress/cv32e40pv2_interrupt_debug_short.yaml
  cv32e40p/regress/cv32e40pv2_xpulp_instr.yaml
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/tb/uvmt/imperas_dv.flist
  cv32e40p/tb/uvmt/uvmt_cv32e40p_debug_assert.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_dut_wrap.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_riscv_coverage_config.svh
  cv32e40p/tests/programs/corev-dv/corev_rand_pulp_hwloop_debug/corev-dv.yaml
  cv32e40p/tests/test_cfg/disable_all_trn_logs.yaml
  cv32e40p/tests/uvmt/base-tests/uvmt_cv32e40p_base_test.sv
  cv32e40p/tests/uvmt/compliance-tests/uvmt_cv32e40p_firmware_test.sv
  mk/uvmt/uvmt.mk
  mk/uvmt/vcs.mk
  mk/uvmt/vsim.mk
  mk/uvmt/xrun.mk
Labels: cv32e40p

#2328 Non-implemented CSR Check
  cv32e20/env/corev-dv/cv32e20_csr_template.yaml
  cv32e20/tests/programs/custom/riscv_csr/README.md
  cv32e20/tests/programs/custom/riscv_csr/custom_handlers.S
  cv32e20/tests/programs/custom/riscv_csr/gen_csr_test.py
  cv32e20/tests/programs/custom/riscv_csr/riscv_csr.c
  cv32e20/tests/programs/custom/riscv_csr/riscv_csr_test_0.S
  cv32e20/tests/programs/custom/riscv_csr/riscv_csr_test_0.h
Labels: cv32e20

#2332 detect pma load/store fault, use in assert
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pma_assert.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s
