Repository openhwgroup/core-v-verif, pull requests merged in 2023-05, with the labels that each got.

#1818 update xsecure dummy and assertions
  cv32e40s/tb/uvmt/uvmt_cv32e40s.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_instr_pkg.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_dummy_and_hint_assert.sv
  lib/support/isa_support.sv
  lib/support/support_pkg.flist
  lib/support/support_pkg.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
  mk/uvmt/uvmt.mk
Labels: cv32e40s

#1849 Updates to asserts for formal regression
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_pmprvfi_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1835 update xsecure interface integrity
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_sl_req_attribute_fifo.sv
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_files.flist
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_interface_integrity_assert.sv
Labels: cv32e40s

#1756 Template framework for directed missing coverage test
  cv32e40s/tests/programs/custom/cov_holes_generic/cov_holes_generic.c
  cv32e40s/tests/programs/custom/cov_holes_generic/test.yaml
Labels: cv32e40s

#1851 Update cva6/dev from master
  .gitignore
  bin/requirements.txt
  cv32e40p/tests/programs/custom/coremark/core_list_join.c
  cv32e40p/tests/programs/custom/coremark/core_main.c
  cv32e40p/tests/programs/custom/coremark/core_matrix.c
  cv32e40p/tests/programs/custom/coremark/core_state.c
  cv32e40p/tests/programs/custom/coremark/core_util.c
  cv32e40p/tests/programs/custom/coremark/coremark.h
  cv32e40p/tests/programs/custom/coremark/test.yaml
  cv32e40s/tests/programs/custom/coremark/core_list_join.c
  cv32e40s/tests/programs/custom/coremark/core_main.c
  cv32e40s/tests/programs/custom/coremark/core_matrix.c
  cv32e40s/tests/programs/custom/coremark/core_state.c
  cv32e40s/tests/programs/custom/coremark/core_util.c
  cv32e40s/tests/programs/custom/coremark/coremark.h
  cv32e40s/tests/programs/custom/coremark/test.yaml
  cv32e40x/tests/programs/custom/coremark/core_list_join.c
  cv32e40x/tests/programs/custom/coremark/core_main.c
  cv32e40x/tests/programs/custom/coremark/core_matrix.c
  cv32e40x/tests/programs/custom/coremark/core_state.c
  cv32e40x/tests/programs/custom/coremark/core_util.c
  cv32e40x/tests/programs/custom/coremark/coremark.h
  cv32e40x/tests/programs/custom/coremark/test.yaml
  docs/VerifPlans/VerificationPlanning101.md
  docs/VerifStrat/source/quick_start.rst
  lib/dpi_dasm/README.md
  mk/README.md
  mk/uvmt/dsim.mk
  mk/uvmt/vcs.mk
  mk/uvmt/vsim.mk
  mk/uvmt/xrun.mk
Labels: cva6

#1844 ci: check that at least one test is run
  .gitlab-ci/scripts/report_simu.py
Labels: cva6

#1829 Xsecure c test
  cv32e40s/tb/uvmt/uvmt_cv32e40s_constants.sv
  cv32e40s/tests/cfg/pmp.yaml
  cv32e40s/tests/programs/custom/xsecure_test/test.yaml
  cv32e40s/tests/programs/custom/xsecure_test/xsecure_test.S
  cv32e40s/tests/programs/custom/xsecure_test/xsecure_test.c
Labels: cv32e40s

#1861 FENCE.I VerifPlan
  cva6/docs/VerifPlans/FENCEI/VP_IP000.yml
  cva6/docs/VerifPlans/FENCEI/VP_IP001.yml
  cva6/docs/VerifPlans/FENCEI/VP_IP002.yml
  cva6/docs/VerifPlans/FENCEI/VP_IP003.yml
  cva6/docs/VerifPlans/FENCEI/VP_IP004.yml
  cva6/docs/VerifPlans/FENCEI/VP_IP005.yml
  cva6/docs/VerifPlans/FENCEI/VP_IP006.yml
  cva6/docs/VerifPlans/FENCEI/runme.sh
  cva6/docs/VerifPlans/source/dvplan_FENCEI.md
  cva6/docs/VerifPlans/source/index.rst
Labels: cva6

#1853 ISACOV : Add filtering for unaligned access
  lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv
Labels: cva6

#1862 ISA VERIF PLAN : Add instruction sequenciel & place the ISA spec in & change the requirements
  cva6/docs/VerifPlans/ISA_RV32/RISCV_Instructions.rst
  cva6/docs/VerifPlans/ISA_RV32/VP_IP000.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP001.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP002.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP003.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP004.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP005.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP006.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP007.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP008.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP009.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP010.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP011.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP012.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP013.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP014.yml
  cva6/docs/VerifPlans/ISA_RV32/VP_IP015.yml
  cva6/docs/VerifPlans/source/dvplan_ISA_RV32.md
  cva6/docs/VerifPlans/source/index.rst
Labels: cva6

#1873 Add CI job dedicated to CSR
  .gitlab-ci/cva6.yml
Labels: cva6

#1869 Adapted asserts to new rvfi dbg signaling
  cv32e40s/tb/uvmt/uvmt_cv32e40s_debug_assert.sv
Labels: cv32e40s

#1870 ISACOV : Add decode imm for CS_TYPE
  lib/uvm_agents/uvma_isacov/uvma_isacov_instr.sv
Labels: cva6

#1857 add benchmarks
  .gitlab-ci/cva6.yml
  .gitlab-ci/scripts/report_benchmark.py
  cva6/regress/coremark.sh
  cva6/regress/dhrystone.sh
  cva6/sim/cva6.py
  cva6/tests/custom/common/syscalls.c
  cva6/tests/custom/coremark/LICENSE.md
  cva6/tests/custom/coremark/core_list_join.c
  cva6/tests/custom/coremark/core_main.c
  cva6/tests/custom/coremark/core_matrix.c
  cva6/tests/custom/coremark/core_portme.c
  cva6/tests/custom/coremark/core_portme.h
  cva6/tests/custom/coremark/core_state.c
  cva6/tests/custom/coremark/core_util.c
  cva6/tests/custom/coremark/coremark.h
  cva6/tests/custom/coremark/uart.c
  cva6/tests/custom/coremark/uart.h
Labels: cva6

#1846 CVA6: Infrastructure improvements
  cva6/regress/install-cva6.sh
  cva6/regress/install-riscv-dv.sh
  cva6/regress/install-spike.sh
  cva6/regress/install-verilator.sh
  cva6/regress/smoke-tests.sh
  cva6/sim/Makefile
Labels: cva6

#1876 instr_mem_*mask_f and signals to rvfi interface
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1889 Revert #1888 and #1846 to make the CI pass again
  cva6/regress/install-cva6.sh
  cva6/regress/install-riscv-dv.sh
  cva6/regress/install-spike.sh
  cva6/regress/install-verilator.sh
  cva6/regress/smoke-tests.sh
  cva6/sim/Makefile
Labels: cva6

#1884 ci: add benchmarks pass/fail
  .gitlab-ci/cva6.yml
  .gitlab-ci/scripts/report_benchmark.py
Labels: cva6

#1890 Fixed debug_pc outputs not connected warning in sim
  cv32e40s/tb/uvmt/uvmt_cv32e40s_dut_wrap.sv
Labels: cv32e40s

#1855 Timeout fixes
  cv32e40s/env/corev-dv/cv32e40s_asm_program_gen.sv
  cv32e40s/env/uvme/uvme_cv32e40s_cfg.sv
  cv32e40s/env/uvme/uvme_cv32e40s_pkg.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_clic_noise_vseq.sv
  cv32e40s/env/uvme/vseq/uvme_cv32e40s_irq_ss_timeout_vseq.sv
  cv32e40s/tests/programs/corev-dv/corev_rand_arithmetic_base_test/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_data_obi_err/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_data_obi_err_debug/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_debug/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_debug_ebreak/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_debug_single_step/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_fencei/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_illegal_instr_test/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_long_stall/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_obi_err/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_obi_err_debug/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_instr_test/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt_debug/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt_exception/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt_nested/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt_wfi/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_interrupt_wfi_mem_stress/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_jump_stress_test/test.yaml
  cv32e40s/tests/programs/corev-dv/corev_rand_pma_test/test.yaml
  cv32e40s/tests/programs/custom/csr_instr_asm/test.yaml
  cv32e40s/tests/programs/custom/cv32e40s_csr_access_test/test.yaml
  cv32e40s/tests/programs/custom/cv32e40s_readonly_csr_access_test/test.yaml
  cv32e40s/tests/programs/custom/generic_exception_test/test.yaml
  cv32e40s/tests/programs/custom/illegal_instr_test/test.yaml
  cv32e40s/tests/programs/custom/isa_fcov_holes/test.yaml
  cv32e40s/tests/programs/custom/load_store_rs1_zero/test.yaml
  cv32e40s/tests/programs/custom/riscv_arithmetic_basic_test_0/test.yaml
  cv32e40s/tests/programs/custom/riscv_arithmetic_basic_test_1/test.yaml
  cv32e40s/tests/programs/custom/riscv_ebreak_test_0/test.yaml
  cv32e40s/tests/uvmt/compliance-tests/uvmt_cv32e40s_firmware_test.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s

#1877 ISACOV : Add ifdef to avoid VCS compilation error due to unsupported 'with' key word
  lib/uvm_agents/uvma_isacov/cov/uvma_isacov_cov_model.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_macros.sv
Labels: cva6

#1898 Update Coremark score after CVA6 #1230 PR
  .gitlab-ci/scripts/report_benchmark.py
Labels: cva6

#1894 Update cv32e40s csr access test
  bin/gen_csr_access_test.py
  cv32e40s/tests/programs/custom/cv32e40s_csr_access_test/cv32e40s_csr_access_test.S
  cv32e40s/tests/programs/custom/cv32e40s_csr_access_test/test.yaml
Labels: cv32e40x, cv32e40s

#1907 CLIC Vplan - Update vs User Manual v0.9.0
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.csv
  cv32e40s/docs/VerifPlans/Simulation/interrupts/CV32E40SX_CLIC.xlsx
Labels: cv32e40s

#1902 Xsecure - Update Vplan With 'mcause' Hardening and Split Items
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.csv
  cv32e40s/docs/VerifPlans/Simulation/xsecure/xsecure_vplan.xlsx
Labels: cv32e40s

#1882 Preliminary RV32I decoder & support
  lib/support/isa_support.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
Labels: cv32e40s, Common Infrastructure

#1880 add to and update trigger assert file
  cv32e40s/tb/uvmt/support_logic/uvmt_cv32e40s_support_logic.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb_ifs.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_csr_if.sv
Labels: cv32e40s

#1905 update model_sleepmode signal in *interrupt_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_interrupt_assert.sv
Labels: cv32e40s

#1906 Updated fp stream lib and add example tests for extended f and zfinx
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_base_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib.sv
  cv32e40p/tests/programs/corev-dv/corev_sanity_fp_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_sanity_fp_instr_test/test.yaml
  cv32e40p/tests/programs/corev-dv/corev_sanity_fp_zfinx_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_sanity_fp_zfinx_instr_test/test.yaml
Labels: cv32e40p

#1897 Bug correction for Zfinx/F instruction generation with riscv-dv
  cv32e40p/env/corev-dv/custom/isa/riscv_instr.sv
Labels: cv32e40p

#1909 Small modifications to regression generation
  bin/cv_regress
  bin/templates/regress_macros.j2
  bin/templates/regress_rmdb.j2
Labels: cv32e40p

#1912 Alignement to v1.3.1 spec.
  cv32e40p/sim/ExternalRepos.mk
  cv32e40p/tests/programs/custom/coremark/test.yaml
  cv32e40p/tests/programs/custom/matmul_32b_float/test.c
  cv32e40p/tests/programs/custom/matmul_32b_int/test.c
  cv32e40p/tests/programs/custom/pulp_hardware_loop/pulp_hardware_loop.S
  mk/uvmt/uvmt.mk
  mk/uvmt/vsim.mk
Labels: cv32e40p

#1841 Stand-up the ci_check regression for CV32E20
  .metrics.json
  bin/ci_check
  cv32e20/bsp/Makefile
  cv32e20/regress/cv32e20_ci_check.yaml
Labels: cv32e20, Common Infrastructure

#1916 [cv32e40p] tb update for debug and debug coverage with f and xpulp instructions
  cv32e40p/env/corev-dv/cv32e40p_debug_rom_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_test_pkg.sv
  cv32e40p/env/corev-dv/target/cv32e40p/riscv_core_setting.sv
  cv32e40p/env/uvme/cov/uvme_debug_covg.sv
  cv32e40p/env/uvme/uvme_cv32e40p_constants.sv
  cv32e40p/env/uvme/uvme_cv32e40p_env.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb_ifs.sv
Labels: cv32e40p

#1915 ISACOV Agent : Integrate the ISACOV Agent in the CVA6 env
  cva6/env/uvme/uvme_cva6_cfg.sv
  cva6/env/uvme/uvme_cva6_cntxt.sv
  cva6/env/uvme/uvme_cva6_constants.sv
  cva6/env/uvme/uvme_cva6_env.sv
  cva6/env/uvme/uvme_cva6_pkg.sv
  cva6/sim/Makefile
  cva6/tb/uvmt/uvmt_cva6.flist
  cva6/tb/uvmt/uvmt_cva6_tb.sv
Labels: cva6

#1923 Enable dummy instruction testing, remove no_bitmanip configuration
  bin/templates/regress_vsif.j2
  cv32e40s/env/corev-dv/cv32e40s_asm_program_gen.sv
  cv32e40s/env/corev-dv/cv32e40s_instr_gen_config.sv
  cv32e40s/regress/cv32e40s_full.yaml
  cv32e40s/tests/cfg/dummy_instr.yaml
Labels: cv32e40s

#1866 Clone Verif Environment - Script
  bin/clonetb
Labels: cv32e40x, cv32e40s

#1926 Update cv32e40s hash - last update before 0.9.0
  cv32e40s/sim/ExternalRepos.mk
Labels: cv32e40s

#1936 Update RISCV_Instructions.rst
  cva6/docs/VerifPlans/ISA_RV32/RISCV_Instructions.rst
Labels: cva6

#1922 Cv32e40p/dev baoshan fix riscv generator bugs
  cv32e40p/env/corev-dv/custom/isa/riscv_floating_point_instr.sv
Labels: cv32e40p

#1918 [cv32e40p] enable Imperas functional coverage and fix some tb flow issues
  cv32e40p/env/corev-dv/target/cv32e40p/cv32e40p_supported_isa.svh
  cv32e40p/env/corev-dv/target/cv32e40p/riscv_core_setting.sv
  cv32e40p/tb/uvmt/imperas_dv.flist
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_riscv_coverage_config.svh
  mk/uvmt/vsim.mk
  mk/uvmt/xrun.mk
Labels: cv32e40p

#1927 Fixed wrong secureseed configuration, updated dummy instr. assertion
  cv32e40s/env/corev-dv/cv32e40s_asm_program_gen.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_dummy_and_hint_assert.sv
  cv32e40s/tests/cfg/dummy_instr.yaml
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_constants.sv
  lib/support/isa_support.sv
Labels: cv32e40s

#1945 cv32e40s: Updated core hash to 0.9.0
  cv32e40s/sim/ExternalRepos.mk
Labels: cv32e40s

#1949 [Spike] Add "stepout" execution limit (--steps=N) to prevent runaway execs.
  vendor/patches/riscv/riscv-isa-sim/0004-enforce-max-steps-limit.patch
  vendor/riscv/riscv-isa-sim/riscv/sim.cc
  vendor/riscv/riscv-isa-sim/riscv/sim.h
  vendor/riscv/riscv-isa-sim/spike_main/spike.cc
Labels: cva6
