Repository openhwgroup/core-v-verif, pull requests merged in 2024-03, with the labels that each got.

#2379 [RVFI] CSRs comparison
  .metrics.json
  lib/uvm_agents/uvma_core_cntrl/uvma_core_cntrl_cfg.sv
  lib/uvm_agents/uvma_core_cntrl/uvma_core_cntrl_constants.sv
  lib/uvm_agents/uvma_core_cntrl/uvma_core_cntrl_tdefs.sv
  lib/uvm_agents/uvma_interrupt/uvma_interrupt_agent.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_pkg.flist
  lib/uvm_agents/uvma_obi_memory/src/uvma_obi_memory_assert.sv
  lib/uvm_agents/uvma_rvfi/seq/uvma_rvfi_csr_seq_item.sv
  lib/uvm_agents/uvma_rvfi/seq/uvma_rvfi_instr_seq_item.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_agent.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_cfg.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_cntxt.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_constants.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_csr_if.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_mon.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_macros.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_pkg.flist
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_pkg.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_tdefs.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_utils.sv
  lib/uvm_components/uvmc_rvfi_reference_model/rvfi_spike.sv
  lib/uvm_components/uvmc_rvfi_reference_model/uvmc_rvfi_reference_model.sv
  lib/uvm_components/uvmc_rvfi_reference_model/uvmc_rvfi_reference_model_pkg.sv
  lib/uvm_components/uvmc_rvfi_reference_model/uvmc_rvfi_reference_model_utils.sv
  lib/uvm_components/uvmc_rvfi_scoreboard/uvmc_rvfi_scoreboard.sv
  lib/uvm_components/uvmc_rvfi_scoreboard/uvmc_rvfi_scoreboard_pkg.flist
  lib/uvm_components/uvmc_rvfi_scoreboard/uvmc_rvfi_scoreboard_pkg.sv
  lib/uvm_components/uvmc_rvfi_scoreboard/uvmc_rvfi_scoreboard_utils.sv
  lib/uvm_libs/uvml_sb/uvml_sb_cntxt.sv
  mk/Common.mk
  mk/uvmt/uvmt.mk
  mk/uvmt/vcs.mk
  mk/uvmt/vsim.mk
  vendor/patches/riscv/riscv-isa-sim/0016-dpi-csrs.patch
  vendor/riscv/riscv-isa-sim/riscv/Proc.cc
  vendor/riscv/riscv-isa-sim/riscv/Simulation.cc
  vendor/riscv/riscv-isa-sim/riscv/Types.h
  vendor/riscv/riscv-isa-sim/riscv/riscv_dpi.cc
Labels: Common Infrastructure: UVM Agent

#2394 CV32E40Pv2 verification update week 12 (bis)
  cv32e40p/env/corev-dv/cv32e40p_rand_instr_stream.sv
  cv32e40p/env/uvme/cov/uvme_cv32e40p_fp_instr_covg.sv
  cv32e40p/env/uvme/cov/uvme_cv32e40p_zfinx_instr_covg.sv
  cv32e40p/tb/uvmt/imperas_dv.flist
  cv32e40p/tests/cfg/default.yaml
  cv32e40p/tests/cfg/no_pulp.yaml
  cv32e40p/tests/cfg/num_mhpmcounter_29.yaml
  cv32e40p/tests/cfg/pulp.yaml
  cv32e40p/tests/cfg/pulp_cluster.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu.yaml
  cv32e40p/tests/cfg/pulp_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_2cyclat.yaml
Labels: cv32e40p

#2393 Incorporate UNSUPPORTED_WITH kludge for VCS
  .gitignore
  cv32e40p/env/uvme/cov/uvme_cv32e40p_cov_model_macros.sv
  cv32e40p/env/uvme/cov/uvme_cv32e40p_fp_instr_covg.sv
  lib/uvm_agents/uvma_isacov/uvma_isacov_macros.sv
  mk/uvmt/vcs.mk
Labels: bug, cv32e40p

#2396 Adding support for providing tests that are placed outside of tree
  bin/yaml2make
  mk/uvmt/uvmt.mk
Labels: DO NOT MERGE, cv32e40x
