Repository openhwgroup/core-v-verif, pull requests merged in 2024-01, with the labels that each got.

#2331 merge script update
  bin/merge.sh
Labels: cv32e40s

#2342 Remove magic number
  cv32e40p/env/uvme/uvme_cv32e40p_tdefs.sv
Labels: cv32e40p

#2314 Restore Questasim (vsim) simulations for cv32e40s (take 2)
  cv32e40s/env/corev-dv/cv32e40s_pma_cfg.sv
  cv32e40s/env/corev-dv/ldgen/cv32e40s_ldgen.sv
  cv32e40s/sim/tools/vsim/waves.tcl
  cv32e40s/tb/assertions/uvmt_cv32e40s_umode_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_imperas_dummy_pkg.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_triggers_assert_cov.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_xsecure_assert/uvmt_cv32e40s_xsecure_data_independent_timing_assert.sv
  cv32e40s/tb/uvmt/uvmt_cv32e40s_zc_assert.sv
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test.sv
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_constraint_workarounds.sv
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_elaboration_workarounds.sv
  cv32e40s/tests/uvmt/base-tests/uvmt_cv32e40s_base_test_workarounds.sv
  cv32e40s/vendor_lib/verilab/svlib_dpi.so
  lib/isa_decoder/isa_decoder.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
  lib/uvm_libs/uvml_sb/uvml_sb_cntxt.sv
  mk/uvmt/vcs.mk
  mk/uvmt/vsim.mk
Labels: cv32e40s

#2346 Flag duplicate properties for future FIXME
  cv32e40p/tb/uvmt/uvmt_cv32e40p_debug_assert.sv
Labels: cv32e40p

#2347 properties p_ebreak_exception and p_cebreak_exception are not duplicates
  cv32e40p/tb/uvmt/uvmt_cv32e40p_debug_assert.sv
Labels: cv32e40p

#2349 address issue 2134
  bin/merge.sh
Labels: cv32e40x, cv32e40s

#2353 Update cv32e40p/dev OBI Fcov to match master
  lib/uvm_agents/uvma_obi_memory/src/comps/uvma_obi_memory_cov_model.sv
Labels: cv32e40p, Common Infrastructure: FCov
