Repository openhwgroup/core-v-verif, pull requests merged in 2024-06, with the labels that each got.

#2456 Fix issues that found during regression for corner cases
  cv32e40p/env/corev-dv/cv32e40p_debug_rom_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_test_pkg.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib.sv
  cv32e40p/env/uvme/cov/uvme_rv32x_hwloop_covg.sv
  cv32e40p/env/uvme/vseq/uvme_cv32e40p_random_debug_vseq.sv
  cv32e40p/tests/programs/corev-dv/corev_rand_fp_instr_debug/test.yaml
Labels: cv32e40p

#2461 Add RTL Code Coverage waivers following confirmation using SLEC app of JasperGold and SiemensEDA QuestaFormal.
  cv32e40p/sim/tools/vsim/exclusion/cv32e40pv2_code_all_cfg_waiver.do
Labels: cv32e40p

#2463 Fix issue found in random tests
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib_defines.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_instr_for_func_cvg_lib.sv
Labels: cv32e40p

#2460 [TANDEM] Fix CSR injection
  lib/uvm_components/uvmc_rvfi_scoreboard/uvmc_rvfi_scoreboard_utils.sv
  vendor/patches/riscv/riscv-isa-sim/0024-fix-csr-injection.patch
  vendor/riscv/riscv-isa-sim/riscv/Proc.cc
Labels: cva6, cv32e20

#2465 [TANDEM] Debug events injection
  lib/uvm_agents/uvma_rvfi/seq/uvma_rvfi_instr_seq_item.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_constants.sv
  lib/uvm_agents/uvma_rvfi/uvma_rvfi_instr_if.sv
  lib/uvm_components/uvmc_rvfi_scoreboard/uvmc_rvfi_scoreboard_utils.sv
  vendor/patches/riscv/riscv-isa-sim/0025-debug-infra.patch
  vendor/riscv/riscv-isa-sim/riscv/Proc.cc
  vendor/riscv/riscv-isa-sim/riscv/Proc.h
  vendor/riscv/riscv-isa-sim/riscv/execute.cc
  vendor/riscv/riscv-isa-sim/riscv/processor.h
Labels: cv32e20

#2476 CV32E40Pv2 RISC-V ISA Formal Verif document and plan adition and README update
  cv32e40p/docs/VerifPlans/README.md
  cv32e40p/docs/VerifPlans/RISC-V_ISA_Formal/CV32E40Pv2_Formal_VerificationPlans.xlsx
  cv32e40p/docs/VerifPlans/RISC-V_ISA_Formal/CV32E40Pv2_RISCV_vPlan_v1.1.pdf
Labels: documentation, cv32e40p, formal

#2477 CV32E40Pv2 test list update.
  cv32e40p/docs/VerifPlans/Simulation/CV32E40Pv2_test_list.xlsx
Labels: documentation, cv32e40p

#2470 Small fix for run_many script
  bin/run_many
Labels: cv32e40p

#2471 Added behavior discussed in Issue 2123 for USE_ISS
  mk/core/core.mk
  mk/uvmt/uvmt.mk
Labels: cv32e40p

#2472 Fix issue found in random test
  cv32e40p/env/corev-dv/cv32e40p_asm_program_gen.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_gen_config.sv
  cv32e40p/env/uvme/cov/uvme_rv32x_hwloop_covg.sv
Labels: cv32e40p

#2473 CV32E40Pv2 another case of conflict around compress reg fixed
  cv32e40p/env/corev-dv/cv32e40p_instr_base_test.sv
  cv32e40p/env/corev-dv/cv32e40p_instr_test_pkg.sv
  cv32e40p/env/corev-dv/cv32e40p_loop_instr.sv
Labels: cv32e40p

#2478 Reduced interrupt delay (long scenario)
  cv32e40p/env/uvme/vseq/uvme_cv32e40p_interrupt_noise_vseq.sv
Labels: cv32e40p

#2483 Up-to-date version of CV32E40Pv2 RISC-V ISA Formal Verif plan.
  cv32e40p/docs/VerifPlans/RISC-V_ISA_Formal/CV32E40Pv2_Formal_VerificationPlans.xlsx
Labels: documentation, cv32e40p

#2487 V2 regression scripts & other updates
  bin/README.md
  bin/cv32e40pv2_nr_generator.sh
  bin/cv_regress
  bin/lib/cv_regression.py
  cv32e40p/docs/CV32E40Pv2_full_nr.sh
  cv32e40p/docs/CV32E40Pv2_full_nr_questa_vrun.sh
  cv32e40p/docs/VerifPlans/README.md
Labels: cv32e40p
