Repository openhwgroup/core-v-verif, pull requests merged in 2024-04, with the labels that each got.

#2387 Control Spike parameters from cmdline.
  vendor/riscv/riscv-isa-sim/riscv/Params.cc
  vendor/riscv/riscv-isa-sim/riscv/Params.h
  vendor/riscv/riscv-isa-sim/riscv/Proc.cc
  vendor/riscv/riscv-isa-sim/riscv/Simulation.cc
  vendor/riscv/riscv-isa-sim/riscv/riscv_dpi.cc
  vendor/riscv/riscv-isa-sim/riscv/sim.cc
  vendor/riscv/riscv-isa-sim/spike_main/spike.cc
Labels: cva6

#2401 Fix cva6 issue 1972: Spike crash when using CV-X-IF with another extension.
  vendor/riscv/riscv-isa-sim/customext/cvxif.cc
Labels: Common Infrastructure

#2397 Restore DSim
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_float_instr_lib.sv
  cv32e40p/env/uvme/cov/uvme_cv32e40p_cov_model.sv
  cv32e40p/env/uvme/vseq/uvme_cv32e40p_random_debug_vseq.sv
  cv32e40p/sim/tools/dsim/ccov_scopes.txt
  cv32e40p/tb/uvmt/uvmt_cv32e40p_macros.sv
  cv32e40p/tests/uvmt/base-tests/uvmt_cv32e40p_base_test.sv
  mk/uvmt/dsim.mk
Labels: cv32e40p

#2405 CV32E40Pv2 Verification update Week 15
  cv32e40p/env/corev-dv/cv32e40p_instr_test_pkg.sv
  cv32e40p/env/corev-dv/cv32e40p_rand_instr_stream.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_instr_for_func_cvg_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_hwloop_instr_lib.sv
  cv32e40p/env/uvme/cov/uvme_rv32x_hwloop_covg.sv
  cv32e40p/regress/cv32e40pv2_interrupt_debug_long.yaml
  cv32e40p/regress/cv32e40pv2_xpulp_instr.yaml
  cv32e40p/sim/tools/vsim/exclusion/cv32e40pv2_code_all_cfg_waiver.do
  cv32e40p/sim/tools/vsim/exclusion/cv32e40pv2_code_pulp_cfg_waiver.do
  cv32e40p/tb/uvmt/uvmt_cv32e40p_tb_ifs.sv
  cv32e40p/tests/cfg/pulp.yaml
  cv32e40p/tests/cfg/pulp_cluster.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_cluster_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu.yaml
  cv32e40p/tests/cfg/pulp_fpu_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_2cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_1cyclat.yaml
  cv32e40p/tests/cfg/pulp_fpu_zfinx_2cyclat.yaml
  cv32e40p/tests/programs/corev-dv/corev_rand_illegal_instr_test/corev-dv.yaml
  cv32e40p/tests/programs/custom/debug_test_boot_set/test.yaml
  cv32e40p/tests/programs/custom/illegal_instr_test/illegal_instr_test.S
  cv32e40p/tests/programs/custom/pulp_hardware_loop/pulp_hardware_loop.S
Labels: cv32e40p

#2406 [VPTOOL] Fix README and example.
  tools/vptool/README.md
  tools/vptool/vptool-example/example-database/ip_dir/core-v/cva6/VP_IP000.pck
  tools/vptool/vptool-example/example-database/ip_dir/core-v/cva6/VP_IP000.yml
  tools/vptool/vptool-example/example-database/ip_dir/core-v/cva6/VP_IP001.pck
  tools/vptool/vptool-example/example-database/ip_dir/core-v/cva6/VP_IP001.yml
  tools/vptool/vptool-example/example-database/ip_dir/core-v/cva6/VP_IP002.pck
  tools/vptool/vptool-example/example-database/ip_dir/core-v/cva6/VP_IP002.yml
  tools/vptool/vptool-example/example-database/vptool/vp_config.py
  tools/vptool/vptool-example/runme.sh
  tools/vptool/vptool.sh
  tools/vptool/vptool/vp.py
  tools/vptool/vptool/vp_config.py
  tools/vptool/vptool/vp_config.py.example
  tools/vptool/vptool/vp_pack.py
  tools/vptool/vptool/vptool.yml
Labels: Common Infrastructure: VPTOOL

#2410 Add script for basic onespin support for cv32e40s
  cv32e40s/fv/Makefile
  cv32e40s/fv/onespin.tcl
  cv32e40s/tb/uvmt/uvmt_cv32e40s_tb.sv
Labels: cv32e40s, formal

#2414 CV32E40Pv2 Verification update Week 16 PR
  cv32e40p/env/corev-dv/custom/isa/custom/riscv_custom_instr.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_instr_for_func_cvg_lib.sv
  cv32e40p/env/corev-dv/instr_lib/cv32e40p_pulp_hwloop_instr_lib.sv
  cv32e40p/regress/cv32e40pv2_for_func_cvg_improvement.yaml
  cv32e40p/regress/cv32e40pv2_fpu_instr.yaml
  cv32e40p/sim/tools/vsim/exclusion/cv32e40pv2_code_all_cfg_waiver.do
  cv32e40p/sim/tools/vsim/exclusion/cv32e40pv2_code_pulp_cfg_waiver.do
  cv32e40p/sim/tools/vsim/exclusion/cv32e40pv2_func_uvme_debug_waiver.do
  cv32e40p/sim/tools/vsim/exclusion/cv32e40pv2_func_uvme_hwloop_waiver.do
  cv32e40p/sim/tools/vsim/exclusion/pulp/exclusion.do
  cv32e40p/sim/tools/vsim/exclusion/pulp_fpu/exclusion.do
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tb/uvmt/uvmt_cv32e40p_interrupt_assert.sv
  cv32e40p/tests/programs/corev-dv/corev_directed_pulp_hwloop_debug/corev-dv.yaml
  cv32e40p/tests/programs/corev-dv/corev_directed_pulp_hwloop_test/corev-dv.yaml
  cv32e40p/tests/programs/custom/debug_test_trigger/debugger.S
  cv32e40p/tests/programs/custom/fpu_func_cov_improve_test/fpu_func_cov_improve_test.S
  cv32e40p/tests/programs/custom/fpu_func_cov_improve_test/test.yaml
  cv32e40p/tests/programs/custom/pulp_hardware_loop/pulp_hardware_loop.S
  cv32e40p/tests/programs/custom/zfinx_func_cov_improve_test/test.yaml
  cv32e40p/tests/programs/custom/zfinx_func_cov_improve_test/zfinx_func_cov_improve_test.S
  cv32e40p/tests/test_cfg/gen_rand_int.yaml
Labels: cv32e40p

#2417 CV32E40Pv2 Verification update Week 17 PR
  cv32e40p/bsp/Makefile
  cv32e40p/bsp/handlers.S
  cv32e40p/docs/VerifPlans/Simulation/CV32E40Pv2_test_list.xlsx
  cv32e40p/docs/VerifPlans/Simulation/Zfinx_F_instructions/CV32E40Pv2_F-Zfinx-instructions.xlsx
  cv32e40p/docs/VerifPlans/Simulation/debug-trace/CV32E40Pv2_debug.xlsx
  cv32e40p/docs/VerifPlans/Simulation/interrupts/CV32E40Pv2_interrupts.xlsx
  cv32e40p/docs/VerifPlans/Simulation/micro_architecture/CV32E40Pv2_FPU_register_file.xlsx
  cv32e40p/docs/VerifPlans/Simulation/privileged_spec/CV32E40Pv2 - CSR_Vplan.md
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40Pv2_xpulp-bitmanipulations.xlsx
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40Pv2_xpulp-general-alu.xlsx
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40Pv2_xpulp-hwloop.xlsx
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40Pv2_xpulp-immediate-branching.xlsx
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40Pv2_xpulp-multiply-accumulate.xlsx
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40Pv2_xpulp-packed-simd.xlsx
  cv32e40p/docs/VerifPlans/Simulation/xpulp_instruction_extensions/CV32E40Pv2_xpulp-postinc-loadstore.xlsx
  cv32e40p/regress/cv32e40pv2_for_func_cvg_improvement.yaml
  cv32e40p/regress/cv32e40pv2_fpu_instr.yaml
  cv32e40p/tb/uvmt/uvmt_cv32e40p_imperas_dv_wrap.sv
  cv32e40p/tests/programs/custom/custom_opcode_illegal_test/custom_opcode_illegal_test.S
  cv32e40p/tests/programs/custom/fpu_func_cov_improve_test/fpu_func_cov_improve_test.S
  cv32e40p/tests/programs/custom/fpu_func_cov_improve_test/test.yaml
  cv32e40p/tests/programs/custom/pulp_vectorial_shuffle_pack/pulp_vectorial_shuffle_pack.S
  cv32e40p/tests/programs/custom/zfinx_func_cov_improve_test/test.yaml
  cv32e40p/tests/programs/custom/zfinx_func_cov_improve_test/zfinx_func_cov_improve_test.S
  mk/Common.mk
  mk/uvmt/uvmt.mk
  mk/uvmt/vsim.mk
Labels: cv32e40p
